{% extends "layouts/main.html" %}

{% block pageTitle %}

You have signed out of the service
 – {{ serviceName }} – GOV.UK
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


<h1 class="govuk-heading-l">You have signed out of the service</h1>

<p class="govuk-body">You can <a href="https://find-and-update.company-information.service.gov.uk/user/transactions" class="govuk-link">sign in to Companies House</a> to see the status of your filing.</p>

    </div>
  </div>

{% endblock %}
