{% extends "layouts/main.html" %}

{% block pageTitle %}
Have any beneficial owners become or ceased in the update period? – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/before-content.html" %}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
    {% include "includes/rp-banner-v14.html" %}

  <form class="form" method="post">

    <h1 class="govuk-heading-xl">
      Provide statements for the pre-registration period
    </h1>





<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="countries-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h1 class="govuk-fieldset__heading">
       The overseas entity has reasonable cause to believe that during the pre-registration period:
      </h1>
    </legend>
    <div id="countries-hint" class="govuk-hint">
      Select all that apply
    </div>
    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="countries" name="countries" type="checkbox" value="france">
        <label class="govuk-label govuk-checkboxes__label" for="countries">
          At least one person become or ceased to be a <b>registrable beneficial owner</b>, that it has not already provided information about
        </label>
      </div>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="countries-2" name="countries" type="checkbox" value="portugal">
        <label class="govuk-label govuk-checkboxes__label" for="countries-2">
          At least one person become or ceased to be a <b>registrable beneficial owner</b>, that it has not already provided information about
        </label>
      </div>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="countries-3" name="countries" type="checkbox" value="spain">
        <label class="govuk-label govuk-checkboxes__label" for="countries-3">
          At least one person become or ceased to be a <b>beneficiary of a trust</b> involved in the overseas entity, that it has not already provided information about
        </label>
      </div>
            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <div class="govuk-checkboxes__divider">or</div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="countries-5" name="countries" type="checkbox" value="none" data-behaviour="exclusive">
        <label class="govuk-label govuk-checkboxes__label" for="countries-5">
         <b>None of these</b> - the information provided at registration was the same throughout the pre-registration period
        </label>
      </div>
    </div>
  </fieldset>
</div>



<!--

        {{ govukInsetText({
          html: '<h2 class="govuk-heading-m">What information we’ll show on the public register</h2>
                <p>We will show the information you provide in this section on the public Register of Overseas Entities.</p>'
        }) }}
-->

      {{ govukButton({
        text: "Save and continue",
        href: "14-do-you-need-to-make-any-changes-to-this-overseas-entity"
      }) }}
      </form>

<!--
<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Why am I being asked this question?
    </span>
  </summary>
  <div class="govuk-details__text">
    We require information on X, Y, Z
  </div>
</details>
-->


    </div>
  </div>

{% endblock %}
