{% extends "layouts/main.html" %}

{% block pageTitle %}
  Before you start – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/before-content.html" %}
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="interrupt-card">


        <h1 class="govuk-heading-l">New information needed as part of this update statement</h3>
      

    <p class="govuk-body">
    You've told us that <b>ASHCROFT LIMITED</b> was the registered owner of UK property or land during the pre-registration period. 

    <p class="govuk-body">
     As part of this update statement, you'll need to tell us if the entity had any of the following during the pre-registration period, that it has not already told us about: 
     
     <ul class="govuk-list govuk-list--bullet">
     <li>registrable beneficial owners</li>
     <li>trusts involved in the entity</li>
     <li>beneficiaries of a trust involved in the entity</li>
     </ul>


    <p class="govuk-body">
    This is a new legal requirement so that we can understand who was involved in the entities that owned UK property or land when the Economic Crime and Transparency Bill came into force (28 February 2022).


<div class="govuk-inset-text">
      <p class="govuk-body">The pre-registration period for <strong>ASHCROFT LIMITED</strong> is between <strong>28 February 2022</strong> and <strong>18 September 2022</strong>.
</div>

            </p>





  {{ govukButton({
    text: "Continue",
        href: "14-do-you-need-to-make-any-changes-to-this-overseas-entity"
  }) }}

        </div>
      </form>

    </div>
  </div>

{% endblock %}
