{% extends "layouts/main.html" %}

{% block pageTitle %}

What date is the filing made up until?
 – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/before-content.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  <span class="govuk-caption-l">{{ data['overseas-name'] }} - OE001485</span>
    <h1 class="govuk-heading-xl">
      Date of the update statement
    </h1>

    <form action="13-who-can-we-contact-about-this-update-statement" method="post">


<p class="govuk-body">

  All the information in this update statement must be correct on this date. Verification checks must be completed no more than 3 months before the statement date.
</p>

<div class="govuk-inset-text">
  <p class="govuk-body">The date you enter <strong>must be on or before the overseas entity’s update statement date</strong>, or your filing may be rejected.</p>
  
  <p class="govuk-body">You can find the update statement date by searching for the entity on the <a href="https://find-and-update.company-information.service.gov.uk/">Companies House register (opens in a new tab)</a>.</p>
</div>

{# <p class="govuk-body">Next statement date:<strong> 6 August 2023</strong></p> #}



        {{ govukDateInput({
          id: "date-of-filing",
          namePrefix: "date-of-filing",
          fieldset: {
            legend: {
              text: "What is the statement date for this update period?",
      classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            html: 'For example, 29 8 2023. <br>An update period can be a maximum of 12 months.'
          },
          items: [
            {
              name: "day",
              classes: "govuk-input--width-2",
              value: data['date-registered-day']
            },
            {
              name: "month",
              classes: "govuk-input--width-2",
              value: data['date-registered-month']
            },
            {
              name: "year",
              classes: "govuk-input--width-4",
              value: data['date-registered-year']
            }
          ]
        }) }}




{{ govukButton({
  text: "Save and continue"
}) }}

<!--
<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
  Help with update statement dates
    </span>
  </summary>

    <div class="govuk-details__text">
    An update period can be a maximum of 12 months. If you need to tell us about updates that happened over more than 12 months, you'll need to file more than one update statement.

</details>
-->

      </div>
      </div>
    </form>
    </div>

{% endblock %}
