{% extends "layouts/main.html" %}

{% block pageTitle %}
  You're about to review beneficial owner information – {{ serviceName }} – GOV.UK
{% endblock %}



{% block beforeContent %}
  {% include "includes/before-content.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="25-review-the-individual-beneficial-owner" method="post">
  

  <span class="govuk-caption-l">{{ data['overseas-name'] }} - OE001485</span>
      <h1 class="govuk-heading-xl">
        You're about to review beneficial owner and managing officer information
      </h1>


    <p class="govuk-body">
      We'll show you the information we currently hold about the overseas entity's beneficial owners and managing officers.
    </p>

      <p class="govuk-body">You'll need to:</p>
      <ol class="govuk-list govuk-list--bullet">
        <li>check the information is correct, and update it if needed</li>
        <li>enter the home address for individual beneficial owners and managing officers
        <li>enter the principal or registered office address for other legal entity, government or public authority beneficial owners, and corporate managing officers
        <li>tell us if they are no longer a beneficial owner or managing officer, if relevant
        <li>add any new beneficial owners or managing officers, if relevant
        </li>
      </ol>

{# Inset text about pre-reg period

<div class="govuk-inset-text">
  <p class="govuk-body"><b>Beneficial owners from the pre-registration period</b>
    
  <p class="govuk-body">Based on the pre-registration statement you provided earlier in this service, you also need to tell us about any registrable beneficial owners from this period, that the entity has not already told us about.</b>

  <p class="govuk-body">The pre-registration period for <b>ASHCROFT LIMITED</b> is between <b>28 February 2022</b> and <b>18 September 2022</b>.
  </p>
</div> #}


{{ govukButton({
  text: "Save and continue",
  classes: "govuk-!-margin-top-4"
}) }}
</form>

          
    </div>
  </div>

{% endblock %}
