{% extends "layouts/main.html" %}

{% block pageTitle %}
  Before you start – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/before-content.html" %}
{% endblock %}

{% block content %}

{% include "includes/rp-tag.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="interrupt-card">


        <h1 class="govuk-heading-l">New information needed from 2024</h3>

  <p class="govuk-body">
     You've told us that this overseas entity was the registered proprietor of UK property or land during the relevant period.</p>

    <p class="govuk-body">
     You need to provide information about any additional beneficial owners, trusts and beneficiaries during the relevant period that the overseas entity has not already told us about.</p>

    {# <p class="govuk-body">
     The relevant period for this overseas entity is between <strong>28 February 2022</strong> and <strong>when the overseas entity registered</strong></p> #}

      <p class="govuk-body">This is the period of time between 28 February 2022 and either: 

        <ul class="govuk-list govuk-list--bullet">
        <li>the end of the transition period (31 January 2023)</li>
        <li>the entity's registration date, if it registered before the end of the transition period</li>
        </ul>


  {{ govukButton({
    text: "Continue",
        href: "09-what-is-the-overseas-entity-id"
  }) }}

        </div>
      </form>

    </div>
  </div>

{% endblock %}
