<div class="govuk-grid-column-two-thirds-from-desktop">



  <span class="govuk-caption-l">Guidance</span>
  <h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-8">
    File an overseas entity update statement 
  </h1>
  <p class="govuk-body-l">How to file an update statement for an overseas entity and its beneficial owners or managing officers.</p>




  <ul class="govuk-list govuk-body-s">
    <li>
      From: <a href="https://www.gov.uk/government/organisations/companies-house" class="govuk-link">Companies House</a>
    </li>
    <li>
      Published
      25 June 2023
    </li>
    {# <li>
      Last updated
      1 August 2022 — <a href="javascript:void(0)" class="govuk-link">See all updates</a>
    </li> #}
    <li>
    </li>
  </ul>


    <p class="govuk-body-s email-notification"><a href="javascript:void(0)" class="govuk-link">Get emails about this page</a></p>




  <p class="govuk-body-s govuk-!-margin-bottom-2">Contents</p>
  <ul class="govuk-list govuk-list govuk-!-margin-bottom-8">
    <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
      <a class="govuk-link govuk-body-s govuk-link--no-underline" href="#oe-update">What an overseas entity update statement is</a>
    </li>
    <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
      <a class="govuk-link govuk-body-s govuk-link--no-underline" href="#when-to-file">When you need to file</a>
    </li>
    <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
      <a class="govuk-link govuk-body-s govuk-link--no-underline" href="#use-service">Who can use this service</a>
    </li>
    <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
      <a class="govuk-link govuk-body-s govuk-link--no-underline" href="#what-information">What information you need to review and update</a>
    </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
      <a class="govuk-link govuk-body-s govuk-link--no-underline" href="#trusts">What to do if there are trusts involved in the overseas entity</a>
    </li>
    <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
      <a class="govuk-link govuk-body-s govuk-link--no-underline" href="#authentication-code">How to get an authentication code </a>
    </li>
    <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
      <a class="govuk-link govuk-body-s govuk-link--no-underline" href="#verfication-checks">What verification checks need to be completed</a>
    </li>
    <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
      <a class="govuk-link govuk-body-s govuk-link--no-underline" href="#file-an-oe-update">File an overseas entity update statement </a>
    </li>
  </ul>

<!-- JS print button for UR testing only - not production-->
  <p class="govuk-body-s email-notification print-notification"><a href="javascript: window.print()" class="govuk-link">Print this page</a></p>




</div>
