<div class="govuk-grid-column-two-thirds-from-desktop">



  <span class="govuk-caption-l">Guidance</span>
  <h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-8">
    Register an overseas entity and tell us about its beneficial owners
  </h1>
  <p class="govuk-body-l">How to add an overseas entity and its registrable beneficial owners or managing officers to the Register of Overseas Entities. This will allow it to buy and sell land or property in the UK.</p>




  <ul class="govuk-list govuk-body-s">
    <li>
      From: <a href="https://www.gov.uk/government/organisations/companies-house" class="govuk-link">Companies House</a>
    </li>
    <li>
      Published
      25 July 2022
    </li>
    <li>
      Last updated
      1 August 2022 — <a href="javascript:void(0)" class="govuk-link">See all updates</a>
    </li>
    <li>
    </li>
  </ul>


    <p class="govuk-body-s email-notification"><a href="javascript:void(0)" class="govuk-link">Get emails about this page</a></p>







  <p class="govuk-body-s govuk-!-margin-bottom-2">Contents</p>
  <ul class="govuk-list govuk-list govuk-!-margin-bottom-8">
    <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
      <a class="govuk-link govuk-body-s govuk-link--no-underline" href="#background">What the Register of Overseas Entities is </a>
    </li>
    <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
      <a class="govuk-link govuk-body-s govuk-link--no-underline" href="#what-an-overseas-entity-is">What an overseas entity is </a>
    </li>
    <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
      <a class="govuk-link govuk-body-s govuk-link--no-underline" href="#what-a-beneficial-owner-is">What a beneficial owner is </a>
    </li>
    <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
      <a class="govuk-link govuk-body-s govuk-link--no-underline" href="#who-can-use-this-service">Who can use this service</a>
    </li>

    <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
      <a class="govuk-link govuk-body-s govuk-link--no-underline" href="#what-information-you-need-to-submit">What information you need to submit</a>
    </li>
    <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
      <a class="govuk-link govuk-body-s govuk-link--no-underline" href="#how-to-submit-information-about-trusts">What information you need to submit about trusts
</a>
    </li>
    <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
      <a class="govuk-link govuk-body-s govuk-link--no-underline" href="#what-identity-checks-are-needed">What is needed for verification checks</a>
    </li>
    <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
      <a class="govuk-link govuk-body-s govuk-link--no-underline" href="#what-information-shown-on-public-register">What information will be shown on the public register</a>
    </li>
    <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
      <a class="govuk-link govuk-body-s govuk-link--no-underline" href="#start">Apply to register an overseas entity and its beneficial owners</a>
    </li>
    <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
      <a class="govuk-link govuk-body-s govuk-link--no-underline" href="#what-happens-after-an-overseas-entity-is-registered">What happens after an overseas entity is registered </a>
    </li>
  </ul>

<!-- JS print button for UR testing only - not production-->
  <p class="govuk-body-s email-notification print-notification"><a href="javascript: window.print()" class="govuk-link">Print this page</a></p>




</div>
