<div class="govuk-grid-column-two-thirds-from-desktop">



  <span class="govuk-caption-l">Guidance</span>
  <h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-8">
    Apply to de-register an overseas entity
  </h1>
  <p class="govuk-body-l">How to remove an overseas entity's registration from the Register of Overseas Entities.</p>

  <ul class="govuk-list govuk-body-s">
    <li>
      From: <a href="https://www.gov.uk/government/organisations/companies-house" class="govuk-link">Companies House</a>
    </li>
    <li>
      Published
      XX Month 2023
    </li>
    {# <li>
      Last updated
      1 August 2022 — <a href="javascript:void(0)" class="govuk-link">See all updates</a>
    </li> #}
    <li>
    </li>
  </ul>







{# what-de-register-means
when-to-apply
who-can-use
information

trusts
authentication
verification
apply-to-de-register

What de-registering an overseas entity means
When to apply 
Who can use this service
What information you need to provide

What to do if there are trusts involved in the overseas entity
How to get an authentication code
What verification checks need to be completed
Apply to de-register an overseas entity
 #}


<p class="govuk-body-s govuk-!-margin-bottom-2">Contents</p>
  <ul class="govuk-list govuk-list govuk-!-margin-bottom-8">
    <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
      <a class="govuk-link govuk-body-s govuk-link--no-underline" href="#what-de-register-means">What de-registering an overseas entity means</a>
    </li>
    <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
      <a class="govuk-link govuk-body-s govuk-link--no-underline" href="#when-to-apply">When to apply </a>
    </li>
    <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
      <a class="govuk-link govuk-body-s govuk-link--no-underline" href="#who-can-use">Who can use this service</a>
    </li>
    <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
      <a class="govuk-link govuk-body-s govuk-link--no-underline" href="#information">What information you need to provide</a>
    </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
      <a class="govuk-link govuk-body-s govuk-link--no-underline" href="#trusts">What to do if there are trusts involved in the overseas entity</a>
    </li>
    <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
      <a class="govuk-link govuk-body-s govuk-link--no-underline" href="#authentication">How to get an authentication code </a>
    </li>
    <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
      <a class="govuk-link govuk-body-s govuk-link--no-underline" href="#verification">What verification checks need to be completed</a>
    </li>
    <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
      <a class="govuk-link govuk-body-s govuk-link--no-underline" href="#apply-to-de-register">Apply to de-register an overseas entity</a>
    </li>
  </ul> 

<!-- JS print button for UR testing only - not production-->
  <p class="govuk-body-s email-notification print-notification"><a href="javascript: window.print()" class="govuk-link">Print this page</a></p>
      <p class="govuk-body-s email-notification"><a href="javascript:void(0)" class="govuk-link">Get emails about this page</a></p>




</div>
