{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% set html %}
  <p class="govuk-notification-banner__heading">
    This update you also have to tell us information about the <a class="govuk-notification-banner__link" href="#">pre-registration period</a>.</p>
    <p class="govuk-body-l">The overseas entity's pre-registration period is between <b>28 February 2022</b> and <b>18 September 2022</b>.
  </p>
{% endset %}

{{ govukNotificationBanner({
  html: html
}) }}