{# {% set html %}
    <p class="govuk-body-m">
        You told us earlier in the service that you needed to provide additional information for this section.
        
    </p>
    <p class="govuk-body-m">
        The pre-registration period for <b>ASHCROFT LIMITED</b> is between <b>28 February 2022</b> and <b>18 September 2022</b>.
    </p>
{% endset %}

{{ govukNotificationBanner({
  html: html
}) }}
 #}

<div class="govuk-inset-text">
    <p class="govuk-body-m">
        You told us earlier in the service that you needed to provide additional information for this section.
        
    </p>
    <p class="govuk-body-m">
        The pre-registration period for <b>ASHCROFT LIMITED</b> is between <b>28 February 2022</b> and <b>18 September 2022</b>.
    </p>
    </div>