//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here


//Styles for user bar

ul#navigation {
    font-size: 0.9em;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: right;
    display: inline-block;
    float: right;
    
    li {
      display: inline;
      font-family: 'nta', Arial;
      font-size: 16px;
      overflow-wrap: break-word;
      a {margin-left: 0.9em;}
    }
  }

  //Styles for interrupt card

.interrupt-card {
    background-color:#175B96; // this blue ensure sufficient colour contrast
    color: #fff !important;
    padding: 2em 2em 0em;
  
    h1, h2, h3, p, ul, li, a:link {
      color:#fff;
    }
    a:hover, a:visited  {
      color:   #f3f2f1		;
    }
    a:focus {
      text-decoration:none;
      color:  $govuk-focus-text-colour;
      background-color:  $govuk-focus-colour	;
    }
  
    .govuk-button {
      background-color: #fff;
      color: #000 !important;
      &:visited {
        background-color: #f3f2f1	;
        color:  $govuk-focus-text-colour;
      }
      &:hover {
        background-color: 	#b1b4b6 	;
        color:  $govuk-focus-text-colour;
      }
  
    }
  
  }

  //Styles for Search bar

  .search-bar-active {
    background:#dee0e2;
    padding: 0.5em;
  }

// Your filings page styling

  // Links under header
.js-toggle-nav {
  text-align: right;
  font-size: 16px;
  font-family: 'proxima_nova', Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  z-index: 60;
  clear: none;
  background: transparent;
  border-bottom: 1px solid #bfc1c3;
  vertical-align: middle;
  padding-bottom: 20px;
}

.js-signout {
  text-align: right;
  font-size: 16px;
  font-family: 'proxima_nova', Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  z-index: 60;
  clear: none;
  background: transparent;
  border-bottom: 1px solid #bfc1c3;
  vertical-align: middle;
  padding-bottom: 20px;
}

.user {
  display: inline;
  font-size: 16px;
}

.content {
  display: inline;
}

.content-email {
  display: inline;
  padding-right: 20px;
}

.nav-spacing {
  padding-left: 20px;
}

.text-description {
  font-size: 16px;
}

// Card background - your filings
.one-filing {
  margin-bottom: 2em;
  background-color: #f8f8f8;
  padding: 1em;
  clear: both;
}



  //Styles for beneficial owner statement

  .bo-statement {
    background-color:#f3f2f1; 
    color: #fff !important;
    padding: 2em 2em 1em;
  
    h1, h2, h3, p, ul, li, a:link {
      color:#0b0c0c;
    }
    a:hover, a:visited  {
      color:   #f3f2f1		;
    }
    a:focus {
      text-decoration:none;
      color:  $govuk-focus-text-colour;
      background-color:  $govuk-focus-colour	;
    }
  
    
  
    }
  
  