//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here


//Styles for user bar

ul#navigation {
    font-size: 0.9em;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: right;
    display: inline-block;
    float: right;
    
    li {
      display: inline;
      font-family: 'nta', Arial;
      font-size: 16px;
      overflow-wrap: break-word;
      a {margin-left: 0.9em;}
    }
  }

  //Styles for interrupt card

.interrupt-card {
    background-color:#175B96; // this blue ensure sufficient colour contrast
    color: #fff !important;
    padding: 2em 2em 0em;
  
    h1, h2, h3, p, ul, li, a:link {
      color:#fff;
    }
    a:hover, a:visited  {
      color:   #f3f2f1		;
    }
    a:focus {
      text-decoration:none;
      color:  $govuk-focus-text-colour;
      background-color:  $govuk-focus-colour	;
    }
  
    .govuk-button {
      background-color: #fff;
      color: #000 !important;
      &:visited {
        background-color: #f3f2f1	;
        color:  $govuk-focus-text-colour;
      }
      &:hover {
        background-color: 	#b1b4b6 	;
        color:  $govuk-focus-text-colour;
      }
  
    }
  
  }