{% extends "layouts/main.html" %}

{% block pageTitle %}

Trusts associated with the overseas entity
 – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/before-content.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <form action="36-check-your-answers-before-submitting" method="get">
    <span class="govuk-caption-l">{{ data['overseas-name'] }} - OE001485</span>
    <h1 class="govuk-heading-xl">Trusts associated with the overseas entity</h1>
  </div>

  <div class="govuk-grid-column-full">

            <div class="govuk-summary-card">
              <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">What you have reviewed</h2>
              </div>
              <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Islands Trust
                    </dt>

                    <dd class="govuk-summary-list__value summary-status" aria-label="Status - ceased">
                      Removed
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="/register/trusts/trust-details-edit">
                        Change<span class="govuk-visually-hidden"> Islands Trust - Removed</span>
                      </a>
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Cayman Trust
                    </dt>
                    <dd class="govuk-summary-list__value summary-status" aria-label="Status - active">
                    Active
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="/register/trusts/trust-details-edit">
                        Change<span class="govuk-visually-hidden"> Cayman Trust -  Active </span>
                      </a>
                    </dd>
                  </div>
              </div>
              </div>

   </div>

    <div class="govuk-grid-column-two-thirds">

        <h2 class="govuk-heading-m">Do you need to add another trust?</h2>

        {# <div class="govuk-inset-text">
          You need to add beneficial owners for <b>both the pre-registration period and the update statement period</b>.
        </div> #}

      <div class="govuk-inset-text">    
        <p class="govuk-body">Based on the pre-registration statement you provided earlier in this service, you also need to tell us about any trusts from this period, that the entity has not already told us about. 

        <p class="govuk-body">The pre-registration period for ASHCROFT LIMITED is between <b>28 February 2022</b> and <b>18 September 2022</b>.
        </p>
      </div>

    <div class="govuk-form-group">
      {# <h2 class="govuk-heading-s">For the current filing period</h3> #}
      <fieldset class="govuk-fieldset">
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="whereDoYouLive" name="whereDoYouLive" type="radio" value="england">
            <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
              Yes - for the current filing period
          </div>
  

        {# <h2 class="govuk-heading-s govuk-!-margin-top-3">For the pre-registration period</h3> #}


      <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="whereDoYouLive" name="whereDoYouLive" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
                Yes - for the pre-registration period
              </label>
            </div>

{# <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible"> #}
            
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="whereDoYouLive" name="whereDoYouLive" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
                No

              </label>
            </div>
          </div>
        </fieldset>
      </div>

      {{ govukButton({
        text: "Save and continue"
      }) }}
      </form>

    </div>
  </div>
</div>

{% endblock %}
