{% extends "layouts/main.html" %}

{% block pageTitle %}
  Beneficial owners or managing officers involved in the overseas entity – {{ serviceName }} – GOV.UK
{% endblock %}


{% block beforeContent %}
  {% include "includes/before-content.html" %}
{% endblock %}
{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

          {% include "includes/rp-tag.html" %}

      <form class="form" action="../02a-bo-identified" method="get">

  <span class="govuk-caption-l">{{ data['overseas-name'] }} - {{ data['overseas-id'] }}</span>
<h1 class="govuk-heading-xl">Beneficial owners and managing officers involved during the relevant period</h1>


  </div>


    <div class="govuk-grid-column-two-thirds">

        {{ govukRadios({
        idPrefix: "boType",
        name: "boType",
        fieldset: {
          legend: {
            text: "Which type of beneficial owner or managing officer do you want to add?",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          text: "You can add more later."
        },
        items: [
          {
            value: "beneficialTypesIndividual",
            text: "Individual beneficial owner"
          },
          {
            value: "beneficialTypesOther",
            text: "Other legal entity beneficial owner"

          },
          {
            value: "beneficialTypesGov",
            text: "Government or public authority beneficial owner"
          },
          {
            value: "moTypesIndividual",
            text: "Individual managing officer"
          },
          {
            value: "moTypesCorporate",
            text: "Corporate managing officer"
          }
        ]
        }) }}





        {{ govukButton({
          text: "Add",
          href: "31-tell-us-about-the-individual-person"
        }) }}

</form>


</div>
  </div>

{% endblock %}


