{% extends "layouts/main.html" %}

{% block pageTitle %}
Were there any additional trusts during the relevant period, that you haven't told us about? – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/before-content.html" %}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
    {% include "includes/rp-tag.html" %}

  <form class="form" action="statement-additional-beneficiaries" method="post">

  <span class="govuk-caption-l">{{ data['overseas-name'] }} - OE001485</span>

    <h1 class="govuk-heading-xl">
      Were there any additional trusts involved in the overseas entity during the relevant period?
      </h1>

    <div class="govuk-inset-text">
      The relevant period is between <strong>28 February 2022</strong> and <strong>7 August 2022</strong>
    </div>


{{ govukRadios({
  classes: "govuk-radios",
  idPrefix: "ownedLand",
  name: "owned-land",
  fieldset: {
    legend: {
      text: "Did the overseas entity own land in the relevant period?",
      isPageHeading: true,
      classes: "govuk-visually-hidden"
    }  
  },
  hint: {
    text: ""
  },
  items: [
    {
      value: "no",
      html: "No – the entity has <strong>no reasonable cause</strong> to believe that there were <strong>any additional trusts</strong> involved in the overseas entity during the relevant period.",
      hint: {
        text: ""
      }
    },
    {
      value: "yes",
      html: "Yes – the entity <strong>has reasonable cause</strong> to believe that there was <strong>at least one additional trust</strong> involved in the overseas entity during the update period.",
hint: {
        text: ""
      }
    }
  ]
}) }}

<!-- NOTES FOR CONTENT - STATEMENTS SHOWN ON REGISTER -->
        {{ govukInsetText({
          html: '<h2 class="govuk-heading-m">What information we’ll show on the public register</h2>
                <p>We will show this statement on the public Register of Overseas Entities.</p>'
        }) }}


      {{ govukButton({
        text: "Save and continue"
      }) }}
      </form>

<!--
<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Why am I being asked this question?
    </span>
  </summary>
  <div class="govuk-details__text">
    We require information on X, Y, Z
  </div>
</details>
-->


    </div>
  </div>

{% endblock %}
