{% extends "layout.html" %}

{% block pageTitle %}
Page not found – {{ serviceName }} – GOV.UK
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Page not found</h1>
      <p>If you typed the web address, check it is spelled correctly.</p>

<p>If you pasted the web address, check you copied the entire address.</p>

<p>If the web address is correct or you selected a link, the page may have moved.</p>

<p>To register an overseas entity, go to the <a href="https://www.gov.uk/guidance/register-an-overseas-entity">Register an overseas entity start page.</a></p>

<p>To file an overseas entity update statement, go to the <a href="./start">File an overseas entity update statement start page.</a></p>

    </div>
  </div>

{% endblock %}
