{% extends "layouts/main.html" %}
{% include "includes/service-name.html" %}

{% block pageTitle %}
  Sign in to Companies House - GOV.UK
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
   {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half-from-desktop">
      {% if errorEmail == true or errorPassword == true %}
        {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: errorList
          }) }}
      {% endif %}

      <h1 class="govuk-heading-l">
        Sign in to Companies House
      </h1>
      
      {{ govukInsetText({
        text: "You must sign in to or create a Companies House account. Your WebFiling details will not work with this service."
      }) }}
    <form action="02-do-you-want-to-continue-with-a-saved-filing" method="post">
      <form class="form" method="post">
        {% if errorEmail == true %}
          {{ govukInput({
            label: {
              text: "Email address"
            },
            id: "email",
            type: "email",
            name: "email",
            autocomplete: "email",
            errorMessage: {
              text: "Enter your email address"
            }
          }) }}
        {% else %}
          {{ govukInput({
            label: {
              text: "Email address"
            },
            type: "email",
            autocomplete: "email",
            id: "email",
            name: "email"
          }) }}
        {% endif %}
        {% if errorPassword == true %}
          {{ govukInput({
            label: {
              text: "Password"
            },
            id: "password",
            name: "password",
            type: "password",
            errorMessage: {
              text: "Enter your password"
            }
          }) }}
        {% else %}
          {{ govukInput({
            label: {
              text: "Password"
            },
            id: "password",
            name: "password",
            type: "password"
          }) }}
        {% endif %}

        
        {{ govukButton({
        text: "Sign in"
        }) }}
        <p>
          <a href="#" class="govuk-link govuk-link--no-visited-state">Create an account</a>
        </p>
        <p>
          <a href="#" class="govuk-link govuk-link--no-visited-state">I've forgotten my password</a>
        </p>
      </form>
    </div>
  </div>

  <div class="govuk-!-margin-top-9">

<p class="govuk-body govuk-!-font-size-14"><a href="./auth/request-an-authentication-code">Auth code request testing</a></p>



{% endblock %}
