{% extends "layouts/main.html" %}
{% set serviceName %}
{% if data['roe-prototype-scenario'] == 'update' %}
    File an overseas entity update statement
  {% else %}
    Apply to de-register an overseas entity
  {% endif %}
  {% endset%}

 {# {{data['roe-prototype-scenario']}} #}
{% block pageTitle %}
 Do you want to continue with a saved filing? – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/before-content.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="02-do-you-want-to-continue-with-a-saved-filing" method="post">



{{ govukRadios({
  classes: "govuk-radios",
  idPrefix: "savedFiling",
  name: "saved-filing",
  fieldset: {
    legend: {
      text: "Do you want to continue with a saved filing?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--xl"
    }  
  },
  hint: {
    text: "If you have saved filings, you can continue with one of these or start a new one."
  },
  items: [
    {
      value: "yes",
      text: "Yes - continue with an existing filing",
      hint: {
        text: "You'll be able to choose which filing you want to continue with."
      }
    },
    {
      value: "no",
      text: "No - start a new filing",
hint: {
        text: "This will not delete any saved filings."
      }
    }
  ]
}) }}

 <!--- NEEDS ADDING IN ABOVE - "noneIdentified" may need to change
 checked: checked("statements", "noneIdentified")-->




      {{ govukButton({
        text: "Continue"
      }) }}
      </form>




    </div>
  </div>

{% endblock %}
