{% extends "layouts/main.html" %}

{% block pageTitle %}

Company authentication
 – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/before-content.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">



    <form method="post">


<h1 class="govuk-heading-xl">
  What are the title numbers for the property or land that the overseas entity has disposed of?</h1>

<p class"govuk-body">
You can find this on the title register or title summary for the property or land.</p>




{# {{ govukInput({
  hint: {
    html: '<p class"govuk-body><strong>Authentication code</strong></p>'
  },
  id: "auth-code",
  name: "auth-code",
  value: data["auth-code"] 
}) }} #}



{% call govukFieldset({

}) %}

  {{ govukInput({

    classes: "govuk-input--width-10",
    id: "title-no",
    name: "title-no"
  }) }}

  {{ govukInput({

    classes: "govuk-input--width-10",
    id: "title-no",
    name: "title-no"
  }) }}

  {{ govukInput({

    classes: "govuk-input--width-10",
    id: "title-no",
    name: "title-no"
  }) }}

  {{ govukInput({

    classes: "govuk-input--width-10",
    id: "title-no",
    name: "title-no"
  }) }}

{% endcall %}

<p class="govuk-body"><a href="auth/request-an-authentication-code" class="govuk-link">
Add more title numbers</a></p>

  {{ govukButton({
    text: "Authenticate",
    href: "/12-what-are-the-land-title-numbers"
  }) }}


    
<!--
 {{ govukDetails({
  summaryText: "What is the authentication code and how do I get it?",
  html: '<p class"govuk-body">
    The authentication code is a 6-digit alphanumeric code that we issue to each overseas entity. We ask for it every time someone files online for the overseas entity – it confirms to us that they are authorised to do so.</p>
  <p>
    If you need to request an authentication code, you will need to search for the overseas entity on the Companies House register, and then select Request an authentication code.</p>
  <p>
    [Need confirmation that this is the process]</p>'
}) }}-->

    
    </form>

    </div>
  </div>

{% endblock %}
