
{% extends "layouts/main.html" %}
{% set serviceName %}
{% if data['roe-prototype-scenario'] == 'update' %}
    File an overseas entity update statement
  {% else %}
    Apply to de-register an overseas entity
  {% endif %}
  {% endset%}
{% block pageTitle %}
Will you be making any changes to the overseas entity? – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/before-content.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="15-has-the-overseas-entity-identified-any-registrable-beneficial-owners" method="post"> 
        

        <h1 class="govuk-heading-xl">For this user testing session we will be skipping parts of the service</h1>

      <p class="govuk-!-margin-bottom-5 govuk-!-margin-top-5">This includes:</p>

<ul class="govuk-list govuk-list--bullet">
<li>Verification</li>
<li>No change or change scenario</li>
<li>Beneficial owners and managing officers</li>
  </ul>

          {{ govukButton({
            text: "Continue"
          }) }}


        {#
          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
              What verification checks are needed?
              </span>
            </summary>
            <div class="govuk-details__text">
            Verification checks are needed on any changes made to information about the overseas entity, its beneficial owners or managing officers. 
            </div>
            <div class="govuk-details__text">
            Verification checks can only be carried out by a UK-regulated agent, and must have been completed no more than 3 months before the date of this update statement.   </div>
              </div>
          </details>
          #}

      </form>

    </div>
  </div>

{% endblock %}
