{% extends "layouts/main.html" %}
{% set serviceName %}
{% if data['roe-prototype-scenario'] == 'update' %}
    File an overseas entity update statement
  {% else %}
    Apply to remove an overseas entity from the register
  {% endif %}
  {% endset%}

{% block pageTitle %}
  Beneficial owners or managing officers involved in the overseas entity – {{ serviceName }} – GOV.UK
{% endblock %}


{% block beforeContent %}
  {% include "includes/before-content.html" %}
{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="../02a-bo-identified" method="get">

  <span class="govuk-caption-l">{{ data['overseas-name'] }} - {{ data['overseas-id'] }}</span>
<h1 class="govuk-heading-xl">Beneficial owners and managing officers involved in the overseas entity</h1>


  </div>



  <div class="govuk-grid-column-full">


<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">What you have reviewed</h2>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Daniel Ashcroft
        </dt>
        <dd class="govuk-summary-list__value">
          	Individual beneficial owner
        </dd>
        <dd class="govuk-summary-list__value summary-status" aria-label="Status - ceased">
          Ceased
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="25-review-the-individual-beneficial-owner">
            Change<span class="govuk-visually-hidden"> Daniel Ashcroft - Individual beneficial owner</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          ACME Trustees Limited
        </dt>
        <dd class="govuk-summary-list__value">
          	Other legal entity beneficial owner
        </dd>
        <dd class="govuk-summary-list__value summary-status" aria-label="Status - active">
          Ceased
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="28-review-the-other-legal-entity-beneficial-owner">
            Change<span class="govuk-visually-hidden">Name Corp - </span>
          </a>
        </dd>
      </div>
       <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          AMK Department
        </dt>
        <dd class="govuk-summary-list__value">
          Government or public authority beneficial owner
        </dd>
       <dd class="govuk-summary-list__value summary-status" aria-label="Status - active">
          Ceased
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> AMK Department - Government or public authority beneficial owner</span>
          </a>
        </dd>
      </div>
      {# <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Helios Limited
        </dt>
        <dd class="govuk-summary-list__value">
          Corporate managing officer
        </dd>
       <dd class="govuk-summary-list__value summary-status" aria-label="Status - active">
          Active
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> Helios Limited - Corporate managing officer</span>
          </a>
        </dd>
      </div> #}
    </dl>
  </div> 
</div>

</div> 


    
{# 


<div class="govuk-grid-column-full govuk-!-margin-top-6">


         {{ govukTable({
          caption: 'What <span class="govuk-visually-hidden">beneficial owners or managing officers</span> you have added in this update' | safe,
          captionClasses: "govuk-table__caption--m",
          classes: "govuk-!-margin-bottom-8",
          firstCellIsHeader: true,
          head: [
          {
            text: "Name",
            classes: "govuk-visually-hidden"
          },
          {
            text: "Type",
            classes: "govuk-visually-hidden"
          },
          {
            text: "Status",
            classes: "govuk-visually-hidden"
          },
            {
              text: "Change or remove",
              classes: "govuk-visually-hidden"
            }
          ],
          rows: [
            [
              {
                text: "David Bloggs"
              },
              {
                text: "Individual beneficial owner"
              },
              {
                text: "Active"
              },
            {
              html: '<a href="25-review-the-individual-beneficial-owner">Change</a>',
              visuallyHiddenText: "Individual beneficial owner - David Bloggs"
            }
             ],
             [
               {
                 text: "Jane Doe"
               },
               {
               text: "Individual managing officer"
              },
               {
                text: "Ceased"
               },
            {
              html: '<a href="28-review-the-individual-managing-officer">Change</a>',
              visuallyHiddenText: "Individual managing officer - Jane Doe"
            }
              ]
          ]
        }) }}  
</div>#}

    <div class="govuk-grid-column-two-thirds govuk-!-margin-top-6">

        {{ govukRadios({
        idPrefix: "boType",
        name: "boType",
        fieldset: {
          legend: {
            text: "Which type of beneficial owner or managing officer do you want to add?",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          text: "You can add more later."
        },
        items: [
          {
            value: "beneficialTypesIndividual",
            text: "Individual beneficial owner"
          },
          {
            value: "beneficialTypesOther",
            text: "Other legal entity beneficial owner"

          },
          {
            value: "beneficialTypesGov",
            text: "Government or public authority beneficial owner"
          },
          {
            value: "moTypesIndividual",
            text: "Individual managing officer"
          },
          {
            value: "moTypesCorporate",
            text: "Corporate managing officer"
          }
        ]
        }) }}



        <div class="govuk-button-group">

        {{ govukButton({
          text: "Add",
          href: "31-tell-us-about-the-individual-person"
        }) }}


        {{ govukButton({
              html: 'No more <span class="govuk-visually-hidden">beneficial owners or managing officers</span> to add',
           classes: "govuk-button--secondary",
           href: "15-has-the-overseas-entity-identified-any-registrable-beneficial-owners"
        }) }}


      </div>

</form>


</div>
  </div>

{% endblock %}



{# <div class="govuk-grid-column-full existing-bo-mo">

      Can be deleted if 

        {{ govukTable({
          caption: 'Beneficial owners or managing officers previously added' | safe,
          captionClasses: "govuk-table__caption--m",
          classes: "govuk-!-margin-bottom-4",
          firstCellIsHeader: true,
          head: [
          {
            text: "Name",
            classes: "govuk-visually-hidden"
          },
          {
            text: "Type",
            classes: "govuk-visually-hidden"
          },
          {
            text: "Status",
            classes: "govuk-visually-hidden"
          },
            {
              text: "Change or remove",
              classes: "govuk-visually-hidden"
            }
          ],
          rows: [
            [
              {
                text: "Daniel Ashcroft"
              },
              {
                text: "Individual beneficial owner"
              },
              {
                text: "Active"
              },
              {
                html: '<a href="./bo-individual">Change<span class="govuk-visually-hidden">Daniel Ashcroft</span></a>'
              }
             ],
             [
               {
                 text: "ACME Trustees Limited"
               },
               {
                text: "Other legal entity beneficial owner"
              },
               {
                 text: "Ceased"
               },
               {
                 html: '<a href="./">Change<span class="govuk-visually-hidden">ACME Trustees Limited</span></a>'
               }
              ],
             [
               {
                 text: "AMK Department"
               },
               {
                text: "Government or public authority beneficial owner"
              },
               {
                text: "Active"
               },
               {
                 html: '<a href="./">Change<span class="govuk-visually-hidden">AMK Department</span></a>'
               }
              ],
             [
               {
                 text: "Helios Limited"
               },
               {
                text: "Corporate managing officer"
              },
               {
                text: "Active"
               },
               {
                 html: '<a href="./">Change<span class="govuk-visually-hidden">Helios Limited</span></a>'
               }
              ]
          ]
        }) }}





</div> #}