{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/before-content.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <span class="govuk-caption-l">{{ data['trust-name'] }}</span>
      <h1 class="govuk-heading-xl">Individuals</h1>

<!-- ********** INDIVIDUAL  ********** -->




      <h3 class="govuk-heading-m">Dave Mayhew</h3>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            First name
          </dt>
          <dd class="govuk-summary-list__value">
            <p>Dave</p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/trusts/individual">
              Change
              <span class="govuk-visually-hidden">individual</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Last name
          </dt>
          <dd class="govuk-summary-list__value">
            <p>Mayhew</p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/trusts/individual">
              Change
              <span class="govuk-visually-hidden">individual</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of birth
          </dt>
          <dd class="govuk-summary-list__value">
            <p>	27 June 1983</p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/trusts/individual">
              Change
              <span class="govuk-visually-hidden">Date of birth</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Role within the trust
          </dt>
          <dd class="govuk-summary-list__value">
            <p>Settlor</p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/trusts/individual">
              Change
              <span class="govuk-visually-hidden">Role within the trust</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Nationality
          </dt>
          <dd class="govuk-summary-list__value">
            <p>Not provided at registration</p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/trusts/individual">
              Add
              <span class="govuk-visually-hidden">Nationality</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Home address
          </dt>
          <dd class="govuk-summary-list__value">
            Not provided at registration
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/trusts/individual">
              Add
              <span class="govuk-visually-hidden">Home address</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Correspondence address
          </dt>
          <dd class="govuk-summary-list__value">
            Not provided at registration
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/trusts/individual">
              Add
              <span class="govuk-visually-hidden">Correspondence address</span>
            </a>
          </dd>
        </div>
      </dl>



<p class=-"govuk-!-margin-bottom-9"><a href="#">
   Make Dave Mayhew a former beneficial owner
  </a>
</p>



<!-- ********** INDIVIDUAL  ********** -->

      <h3 class="govuk-heading-m govuk-!-margin-top-9">Mary Robinson</h3>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            First name
          </dt>
          <dd class="govuk-summary-list__value">
            <p>Mary</p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/trusts/individual-2">
              Change
              <span class="govuk-visually-hidden">individual</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Last name
          </dt>
          <dd class="govuk-summary-list__value">
            <p>Robinson</p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/trusts/individual-2">
              Change
              <span class="govuk-visually-hidden">individual</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of birth
          </dt>
          <dd class="govuk-summary-list__value">
            <p>Not provided at registration</p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/trusts/individual-2">
              Add
              <span class="govuk-visually-hidden">Date of birth</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Role within the trust
          </dt>
          <dd class="govuk-summary-list__value">
            <p>Beneficiary</p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/trusts/individual-2">
              Change
              <span class="govuk-visually-hidden">Role within the trust</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Nationality
          </dt>
          <dd class="govuk-summary-list__value">
            <p>British</p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/trusts/individual-2">
              Change
              <span class="govuk-visually-hidden">Nationality</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Home address
          </dt>
          <dd class="govuk-summary-list__value">
            25
            <br>Long road
            <br>Manchester
            <br>Britain
            <br>MV5 6TY
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/trusts/individual-2">
              Change
              <span class="govuk-visually-hidden">Home address</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Correspondence address
          </dt>
          <dd class="govuk-summary-list__value">
            The correspondence address is the same as the principal or registered office address
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/trusts/individual-2">
              Change
              <span class="govuk-visually-hidden">Correspondence address</span>
            </a>
          </dd>
        </div>
      </dl>


<p class=-"govuk-!-margin-bottom-9"><a href="#">
   Remove Mary Robinson
  </a>
</p>


                {{ govukButton({
          text: "Add an individual",
          classes: "govuk-button--secondary govuk-!-margin-top-2"
        }) }} 


        {{ govukInsetText({
          html: '
            <h2 class="govuk-heading-m">What information we&#39;ll show on the public register</h2>
            <p>We will not show any of the information you provide in this section on the public Register of Overseas Entities. 
              However, we may share it with HMRC.</p>
                      '
        }) }}

      <form method="post">

        {{ govukButton({
          text: "Save and continue",
          href: "#"
        }) }}
        &nbsp; &nbsp;

      </div>

    <!-- *** Note to developers, this must show when JS is disabled ***
      <p class="govuk-body govuk-!-font-size-20">To print this page, select File then Print in your browser.</p>
    -->

      </form>

{#
      <p class="govuk-body govuk-!-font-size-14 govuk-link--no-visited-state"><a href="/register/confirmation">UR shortcut: Jump to confirmation screen</a></p>
#}

    </div>
  </div>
{% endblock %}
