{% extends "layout.html" %}

{% block pageTitle %}
  Before you start – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/before-content.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="interrupt-card">
        <h1 class="govuk-heading-l">Before you start</h3>

          <h2 class="govuk-heading-m">Agent assurance codes for verification checks</h2>

  <p class="govuk-body">
     A UK-regulated agent must carry out <a href="" class="govuk-link">verification checks</a> on all beneficial owners and managing officers no more than 3 months before the update statement is submitted. 
     They'll need to provide an <a href="" class="govuk-link">agent assurance code</a> to confirm they have authorisation to carry out verification checks.</p>




  {{ govukButton({
    text: "Continue",
        href: "./oe-id"
  }) }}

        </div>
      </form>

    </div>
  </div>

{% endblock %}
