{% extends "layouts/main.html" %}

{% block pageTitle %}
  Before you start – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/before-content.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="interrupt-card">
        <h1 class="govuk-heading-l">Before you start</h3>

          <h2 class="govuk-heading-m">Authentication code</h2>

  <p class="govuk-body">
     You will need the overseas entity's authentication code to file this update statement. If you need to request one, search for the overseas entity on the <a href="https://find-and-update.company-information.service.gov.uk/">Companies House register</a>,  then select 'Request an authentication code'. We'll send the code to the email address that we have on record for the overseas entity.</p>


          <h2 class="govuk-heading-m">Agent assurance codes for verification checks</h2>

  <p class="govuk-body">
     If there have been any changes to any of the overseas entity's beneficial owners or managing officers, these changes must be verified by a UK-regulated agent. This must be done no more than 3 months before this update statement is submitted.</p>
  <p class="govuk-body">
     The UK-regulated agent will need to provide their <a href="" class="govuk-link">agent assurance code</a> to confirm they have authorisation to carry out verification checks.</p>




  {{ govukButton({
    text: "Continue",
        href: "./oe-id"
  }) }}

        </div>
      </form>

    </div>
  </div>

{% endblock %}
