{% extends "layouts/main.html" %}

{% block pageTitle %}
Register of Overseas Entities – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Register of Overseas Entities</h1>

    <p class="govuk-body">The Register of Overseas Entities came into force in the UK on 1 August 2022 through the new Economic Crime (Transparency and Enforcement) Act 2022.</p>

    <p>It will require overseas entities that own property or land in the UK to publicly disclose information about their beneficial ownership.</p>

    <p>This will lead to more transparency, which will allow law enforcement agencies to investigate suspicious wealth more effectively.</p>


  <h2 class="govuk-heading-m">Registering an overseas entity</h2>

   <p class="govuk-body">Overseas entities who want to buy, sell or transfer property or land in the UK, must register with Companies House and tell us who their registrable beneficial owners or managing officers are.
    
   <p class="govuk-body"><a href="https://www.gov.uk/guidance/register-an-overseas-entity"> Register an overseas entity and tell us about its beneficial owners</a></p>



  <h2 class="govuk-heading-m">Updating an overseas entity</h2>

   <p class="govuk-body">
    Overseas entities are required to file a statement every year to check and update the information on the public register.
    
   <p class="govuk-body"><a href="/v2/start">File an overseas entity update statement</a></p>



  <h2 class="govuk-heading-m">Removing an overseas entity</h2>

   <p class="govuk-body">If an overseas entity no longer owns property or land in the UK, it can apply to be removed from the register.

    
   <p class="govuk-body"><a href="#">Apply to remove an overseas entity</a></p>





    </div>
  </div>

{% endblock %}
