{% extends "layouts/main.html" %}
{% set serviceName %}
{% if data['roe-prototype-scenario'] == 'update' %}
    File an overseas entity update statement
  {% else %}
    Apply to de-register an overseas entity
  {% endif %}
  {% endset%}
  
Has the overseas entity been removed from the Land Registries as the owner of any property or land in the UK?
 – {{ serviceName }} – GOV.UK


{% block beforeContent %}
  {% include "includes/before-content.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

 
  <form action="06b-is-the-overseas-entity-registered-as-the-owner" method="post">


    {{ govukRadios({
      classes: "govuk-radios",
      idPrefix: "ownerDisposed",
      name: "owner-disposed",
      fieldset: {
        legend: {
          text: "Has the overseas entity been removed from the Land Registries as the owner of any property or land in the UK?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--xl"
        }
      },
      hint: {
      text: "We will check this against the information held by the Land Registries."
    },
      items: [
        {
          value: "yes",
          text: "Yes"
        },
        {
          value: "no",
          text: "No"
        }
      ]
    }) }}


  
{# <details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      What having personal information protected means
    </span>
  </summary>
  <div class="govuk-details__text">
    <p class="govuk-body">Some people can <a href="https://www.gov.uk/guidance/applying-to-protect-your-personal-information-on-the-companies-house-register" class="govuk-link">apply to protect personal information from being shown on the Companies House public register</a> if they meet certain criteria. This process includes:</p>
    <ul class="govuk-list govuk-list--bullet">
    <li>providing evidence that they are eligible to have their details protected </li>
    <li>paying a £100 fee</li>
    </ul>

    <p class="govuk-body">You should only select ‘yes’ if any of the beneficial owners or managing officers have already done this.</p> 

  </div>
</details> #}

{#
{{ govukInsetText({
  html: '<h2 class="govuk-heading-m">What information we’ll show on the public register</h2>
        <p>We will not show any of the information you provide in this section on the public Register of Overseas Entities.</p>'
}) }} #}
  

          {{ govukButton({
            text: "Continue"
          }) }}
  </form>




    </div>
  </div>

{% endblock %}
