{% extends "layouts/main.html" %}
{% set serviceName %}
{% if data['roe-prototype-scenario'] == 'update' %}
    File an overseas entity update statement
  {% else %}
    Apply to de-register an overseas entity
  {% endif %}
  {% endset%}
  
Has the overseas entity been removed from the Land Registries as the owner of any property or land in the UK?
 – {{ serviceName }} – GOV.UK


{% block beforeContent %}
  {% include "includes/before-content.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

 
  <form action="06b-is-the-overseas-entity-registered-as-the-owner" method="post">


    {{ govukRadios({
      classes: "govuk-radios",
      idPrefix: "ownerDisposed",
      name: "owner-disposed",
      fieldset: {
        legend: {
          text: "Has the overseas entity been removed from the Land Registries as the owner of any property or land in the UK?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--xl"
        }
      },
      hint: {
      text: "We will check this against the information held by the Land Registries."
    },
      items: [
        {
          value: "yes",
          text: "Yes"
        },
        {
          value: "no",
          text: "No"
        }
      ]
    }) }}


  
  {{ govukInsetText({
  html: '<h2 class="govuk-heading-m">What information we’ll show on the public register</h2>
        <p>We will not show any of the information you provide in this section on the public Register of Overseas Entities.</p>'
}) }}

          {{ govukButton({
            text: "Continue"
          }) }}
  </form>



    </div>
  </div>

{% endblock %}
