{% extends "layouts/main.html" %}
{% set serviceName %}
{% if data['roe-prototype-scenario'] == 'update' %}
    File an overseas entity update statement
  {% else %}
    Apply to de-register an overseas entity
  {% endif %}
  {% endset%}
  
{% block pageTitle %}
  Before you start – {{ serviceName }} – GOV.UK
{% endblock %}
{# 
{{data['trust-involved']}}  #}

{% block beforeContent %}
  {% include "includes/before-content.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="interrupt-card">
        <h1 class="govuk-heading-l">Before you start</h3>

  <p class="govuk-body">
    Once an overseas entity has been removed, its Overseas Entity ID will no longer be valid. 
    This means it will no longer be able to buy, sell, transfer, lease or charge property or land in the UK. 
  </p>
          <h2 class="govuk-heading-m">Authentication code</h2>

  <p class="govuk-body">
You will need the overseas entity's authentication code to file this application. 
Find out <a>how to get the authentication code</a> if you don't already have it.      
</p>


          <h2 class="govuk-heading-m">Verification checks</h2>

  <p class="govuk-body">
    As part of this application, you need to tell us if there have been any changes to the information we hold about the overseas entity, its beneficial owners or managing officers. 
    These changes must have been <a>verified by a UK-regulated agent</a> no more than 3 months before this application is submitted.
  </p>
  <p>
    If you are not changing any information, you will not need to complete any verification checks.
  </p>



  {{ govukButton({
    text: "Continue",
        href: "09-what-is-the-overseas-entity-id"
  }) }}

        </div>
      </form>

    </div>
  </div>

{% endblock %}
