{% extends "layouts/main.html" %}
{% set serviceName %}
{% if data['roe-prototype-scenario'] == 'update' %}
    File an overseas entity update statement
  {% else %}
    Apply to de-register an overseas entity
  {% endif %}
  {% endset%}
{% block pageTitle %}

Company authentication
 – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/before-content.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">



<form action="" method="post">


<h1 class="govuk-heading-xl">
  What are the title numbers for the property or land that the overseas entity has disposed of?</h1>

<p class"govuk-body">
You can find this on the title register or title summary for the property or land.</p>


          <p class="govuk-hint">
            Separate each title number with a comma and space. For example: ABC123456, DEF654321
          </p>

          {{ govukTextarea({
            label: {
              text: "Separate each title number with a comma and space. For example: ABC123456, DEF654321",
              classes: "govuk-visually-hidden",
              isPageHeading: false
            },
            id: "title-numbers",
            name: "title-numbers"
          }) }}




  {{ govukButton({
    text: "Save and continue",
    href: "13-who-can-we-contact-about-this-update-statement"
  }) }}


{{ govukDetails({
  summaryText: "What land title numbers do I need to add here?",
  text: "We need to know your nationality so we can work out which elections you're entitled to vote in. If you cannot provide your nationality, you’ll have to send copies of identity documents through the post."
}) }}
    
    </form>

    </div>
  </div>

{% endblock %}
