{% extends "layouts/main.html" %}

{% block pageTitle %}
  Before you start – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/before-content.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="interrupt-card">
        <h1 class="govuk-heading-l">Before you start</h3>

          <h2 class="govuk-heading-m">Authentication code</h2>

  <p class="govuk-body">
     You will need the overseas entity's authentication code in order to file an update statement using this service.</p>
  <p class="govuk-body"> If you do not have it, read the guidance on <a href="#">how to request an authentication code</a>.</p>


          <h2 class="govuk-heading-m">Verification checks</h2>

  <p class="govuk-body">
     If any of the overseas entity's information has changed during this update period, these changes must be <a href="#">verified by a UK-regulated agent</a>. This must be done no more than 3 months before the date of this update statement.</p>
  <p class="govuk-body">
     The UK-regulated agent must have an <a href="https://www.gov.uk/guidance/agent-assurance-codes" class="govuk-link">agent assurance code</a>, which confirms they have authorisation to carry out verification checks.</p>
  <p class="govuk-body">
     If you are not changing any information, you do not need to complete any verification checks for this service. </p>




  {{ govukButton({
    text: "Continue",
        href: "09-what-is-the-overseas-entity-id"
  }) }}

        </div>
      </form>

    </div>
  </div>

{% endblock %}
