{% extends "layout.html" %}

{% block pageTitle %}
  Beneficial owners or managing officers involved in the overseas entity – {{ serviceName }} – GOV.UK
{% endblock %}


{% block beforeContent %}
  {% include "includes/before-content.html" %}
{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="" method="get">



        <h1 class="govuk-heading-xl">Beneficial owners and managing officers involved in the overseas entity</h1>
</div>
    <div class="govuk-grid-column-three-quarters">

        {{ govukTable({
          caption: 'What <span class="govuk-visually-hidden">beneficial owners or managing officers</span> you have added so far' | safe,
          captionClasses: "govuk-table__caption--m",
          classes: "govuk-!-margin-bottom-8",
          firstCellIsHeader: true,
          head: [
          {
            text: "Name",
            classes: "govuk-visually-hidden"
          },
          {
            text: "Type",
            classes: "govuk-visually-hidden"
          },
          {
            text: "Status",
            classes: "govuk-visually-hidden"
          },
            {
              text: "Change or remove",
              classes: "govuk-visually-hidden"
            }
          ],
          rows: [
            [
              {
                text: "Daniel Ashcroft"
              },
              {
                text: "Individual beneficial owner"
              },
              {
                text: "Existing"
              },
              {
                html: '<a href="./bo-individual">Change<span class="govuk-visually-hidden">Daniel Ashcroft</span></a>'
              }
             ],
             [
               {
                 text: "ACME Ltd"
               },
               {
                text: "Other legal entity beneficial owner"
              },
               {
                 text: "Active"
               },
               {
                 html: '<a href="./">Change<span class="govuk-visually-hidden">ACME Ltd</span></a>'
               }
              ],
             [
               {
                 text: "Bloggs Firm"
               },
               {
                text: "Government or public authority beneficial owner"
              },
               {
                text: "Active"
               },
               {
                 html: '<a href="./">Change<span class="govuk-visually-hidden">Bloggs Firm</span></a>'
               }
              ],
             [
               {
                 text: "Sugar Hotel Ltd"
               },
               {
                text: "Corporate managing officer"
              },
               {
                text: "Active"
               },
               {
                 html: '<a href="./">Change<span class="govuk-visually-hidden">Sugar Hotel Ltd</span></a>'
               }
              ],
             [
               {
                 text: "Jane Doe"
               },
               {
                                 text: "Individual managing officer"

              },
               {
                                 text: "Ceased"

               },
               {
                 html: '<a href="./">Change<span class="govuk-visually-hidden">Joe Bloggs</span></a>'
               }
              ]
          ]
        }) }}

</div>
    <div class="govuk-grid-column-two-thirds">

        {{ govukRadios({
        idPrefix: "boType",
        name: "boType",
        fieldset: {
          legend: {
            text: "Which type of beneficial owner or managing officer do you want to add?",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          text: "You can add more later."
        },
        items: [
          {
            value: "beneficialTypesIndividual",
            text: "Individual beneficial owner"
          },
          {
            value: "beneficialTypesOther",
            text: "Other legal entity beneficial owner"

          },
          {
            value: "beneficialTypesGov",
            text: "Government or public authority beneficial owner"
          },
          {
            value: "moTypesIndividual",
            text: "Individual managing officer"
          },
          {
            value: "moTypesCorporate",
            text: "Corporate managing officer"
          }
        ]
        }) }}



        <div class="govuk-button-group">

        {{ govukButton({
          text: "Add"
        }) }}

        {{ govukButton({
          text: "No more to add",
           classes: "govuk-button--secondary",
           href: ''
        }) }}


      </div>



      </form>

    </div>
  </div>

{% endblock %}