{% extends "layout.html" %}

{% block pageTitle %}

Is this statement correct?
 – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/before-content.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

 
  <form action="" method="post">


<h1 class="govuk-heading-xl">Is this statement correct?</h1>

      <div class="bo-statement govuk-!-margin-bottom-6">
<p class"govuk-body">Some beneficial owners have been identified and I can provide all required information.</p>

</div>


    {{ govukRadios({
      classes: "govuk-radios",
      idPrefix: "boStatement",
      name: "bo-statement",
      fieldset: {
        legend: {
          text: "Is this statement correct?",
          isPageHeading: true,
          classes: "govuk-visually-hidden"
        }
      },
      items: [
        {
          value: "yes",
          text: "Yes"

    },
        {
          value: "no",
          text: "No, I need to change the information I've provided"
        }
      ]
    }) }}
  

  
          {{ govukButton({
            text: "Continue",
            href: "../submit-pay/check-your-answers"
          }) }}
  </form>




    </div>
  </div>

{% endblock %}
