{% extends "layouts/main.html" %}

{% block pageTitle %}
Have any beneficial owners become or ceased in the update period? – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/before-content.html" %}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
    {% include "includes/rp-banner.html" %}

  <form class="form" method="post">

    <h1 class="govuk-heading-xl">
      Report historical information for the pre-registration period
    </h1>

    {# <div class="govuk-inset-text">
      This overseas entity's pre-registration period is between <strong>28 February 2022</strong> and <strong>18 September 2022</strong>
    </div> #}


    <h2 class="govuk-heading-m">
      Were there any changes to beneficial owners, trusts or beneficiaries in this period?
    </h2>

    <p class="govuk-body">
      Answer yes if during this period:
    <ul class="govuk-list govuk-list--bullet">
        <li>Anyone ceased to be a registrable beneficial owner</li>
        <li>A trust was involved you have not told us about</li>
        <li>A beneficiary of a trust was involved you have not told us about</li>
        </ul>
    </p>

{{ govukRadios({
  classes: "govuk-radios",
  idPrefix: "ownedLand",
  name: "owned-land",
  fieldset: {
    legend: {
      text: "Were there any changes to beneficial owners, trusts or beneficiaries in this period?",
      isPageHeading: false,
      classes: "govuk-visually-hidden"
    }  
  },
  hint: {
    text: ""
  },
  items: [
    {
      value: "yes",
      text: "Yes",
      hint: {
        text: ""
      }
    },
    {
      value: "no",
      text: "No - the information I gave at registration was exactly the same throughout the pre-registration period",
hint: {
        text: ""
      }
    }
  ]
}) }}

<!--

        {{ govukInsetText({
          html: '<h2 class="govuk-heading-m">What information we’ll show on the public register</h2>
                <p>We will show the information you provide in this section on the public Register of Overseas Entities.</p>'
        }) }}
-->

      {{ govukButton({
        text: "Continue",
        href: "08-before-you-start"
      }) }}
      </form>

<!--
<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Why am I being asked this question?
    </span>
  </summary>
  <div class="govuk-details__text">
    We require information on X, Y, Z
  </div>
</details>
-->


    </div>
  </div>

{% endblock %}
