{% extends "layouts/main.html" %}

{% block pageTitle %}
  Beneficial owners or managing officers involved in the overseas entity – {{ serviceName }} – GOV.UK
{% endblock %}


{% block beforeContent %}
  {% include "includes/before-content.html" %}
{% endblock %}
{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

          {% include "includes/rp-banner.html" %}

      <form class="form" action="../02a-bo-identified" method="get">

  <span class="govuk-caption-l">{{ data['overseas-name'] }} - OE001485</span>
  <h1 class="govuk-heading-xl">Beneficial owners involved in the overseas entity during the pre-registration period</h1>

  {# <p class="govuk-body">
    You only need to tell us about anyone that was a registrable beneficial owner at any time during the pre-registration period, <strong>that the overseas entity has not already told us about</strong>.
  </p> #}


</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">What you have reviewed</h2>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Daniel Ashcroft
        </dt>
        <dd class="govuk-summary-list__value">
          	Individual beneficial owner
        </dd>
        <dd class="govuk-summary-list__value summary-status" aria-label="Status - ceased">
          Active
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="25-review-the-individual-beneficial-owner">
            Change<span class="govuk-visually-hidden"> Daniel Ashcroft - Individual beneficial owner</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          ACME Trustees Limited
        </dt>
        <dd class="govuk-summary-list__value">
          	Other legal entity beneficial owner
        </dd>
        <dd class="govuk-summary-list__value summary-status" aria-label="Status - active">
         Active
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="28-review-the-other-legal-entity-beneficial-owner">
            Change<span class="govuk-visually-hidden">Name Corp - </span>
          </a>
        </dd>
      </div>
  </div>
  </div>

  </div>
</div>

    <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Which type of beneficial owner or managing officer do you want to add?</h2>

    <div class="govuk-inset-text">
      You need to add beneficial owners for <b>both the pre-registration period and the update statement period</b>.
    </div>

        {{ govukRadios({
        idPrefix: "boType",
        name: "boType",
        fieldset: {
          legend: {
            text: "Which type of beneficial owner or managing officers do you want to add?",
            isPageHeading: false,
            classes: "govuk-visually-hidden"
          }
        },
        items: [
          {
            value: "beneficialTypesIndividual",
            text: "Individual beneficial owner"
          },
          {
            value: "beneficialTypesOther",
            text: "Other legal entity beneficial owner"

          },
          {
            value: "beneficialTypesGov",
            text: "Government or public authority beneficial owner"
          },
                    {
            value: "beneficialTypesOther",
            text: "Individual managing officer"

          },
          {
            value: "beneficialTypesGov",
            text: "Corporate managing officer"
    }
      ]
    }) }}



      <div class="govuk-button-group">
        {{ govukButton({
          text: "Add",
          href: "31-tell-us-about-the-individual-person"
        }) }}


        {{ govukButton({
              html: 'No more <span class="govuk-visually-hidden">beneficial owners or managing officers</span> to add',
           classes: "govuk-button--secondary",
           href: "statement-additional-trusts"
        }) }}
      </div>

</form>


</div>
  </div>

{% endblock %}


