{% extends "layouts/main.html" %}

{% block pageTitle %}
Did anyone become or cease to be a beneficiary of a trust involved in the overseas entity during the pre-registration period? – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/before-content.html" %}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
  
    {% include "includes/rp-banner.html" %}

  <form class="form" method="post">

  <span class="govuk-caption-l">{{ data['overseas-name'] }} - OE001485</span>

    <h1 class="govuk-heading-xl">
      Additional beneficiaries from the pre-registration period
    </h1>

        <p class="govuk-body">
      You need to tell us if there were any additional trust beneficiaries during the pre-registration period, <b>that the overseas entity has not already told us about</b>.
    </p>

    <h1 class="govuk-heading-m">
Did anyone become or cease to be a trust beneficiary during this time, that the overseas entity has not already told us about?      </h1>



{{ govukRadios({
  classes: "govuk-radios",
  idPrefix: "ownedLand",
  name: "owned-land",
  fieldset: {
    legend: {
      text: "Did the overseas entity own land in the relevant period?",
      isPageHeading: true,
      classes: "govuk-visually-hidden"
    }  
  },
  hint: {
    text: ""
  },
  items: [
    {
      value: "no",
      html: "No – the entity has <strong>no reasonable cause</strong> to believe that <strong>anyone</strong> has become or ceased to be 
      a beneficiary of a trust involved in the overseas entity during the pre-registration period.",
      hint: {
        text: ""
      }
    },
    {
      value: "yes",
      html: "Yes – the entity <strong>has reasonable cause</strong> to believe that <strong>at least one person</strong> become or ceased to be 
      a beneficiary of a trust involved in the overseas entity during the pre-registration period.",
hint: {
        text: ""
      }
    }
  ]
}) }}

        {{ govukInsetText({
          html: '<h2 class="govuk-heading-m">What information we’ll show on the public register</h2>
                <p>We will show this statement on the public Register of Overseas Entities.</p>'
        }) }}


      {{ govukButton({
        text: "Save and continue",
        href: "36-check-your-answers-before-submitting"
      }) }}
      </form>

<!--
<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Why am I being asked this question?
    </span>
  </summary>
  <div class="govuk-details__text">
    We require information on X, Y, Z
  </div>
</details>
-->


    </div>
  </div>

{% endblock %}
