{% extends "layouts/main.html" %}

{% block pageTitle %}
Did anyone become or cease to be a registrable beneficial owner during the pre-registration period? – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/before-content.html" %}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
    {% include "includes/rp-banner.html" %}

  <form class="form" action="30-beneficial-owners-and-managing-officers-involved-in-the-relevant-period" method="post">

  <span class="govuk-caption-l">{{ data['overseas-name'] }} - OE001485</span>

    <h1 class="govuk-heading-xl">
        Additional beneficial owners from the pre-registration period
    </h1>


      <p class="govuk-body">
        You need to tell us if there were any additional registrable beneficial owners during the pre-registration period, <b>that the overseas entity has not already told us about</b>.
      </p> 


{{ govukRadios({
  classes: "govuk-radios",
  idPrefix: "ownedLand",
  name: "owned-land",
  fieldset: {
    legend: {
      text: "Did anyone become or cease to be a registrable beneficial owner during this period, that the entity has not already told us about?",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--m"
    }  
  },
  hint: {
    text: ""
  },
  items: [
    {
      value: "no",
      html: "No - the entity has <b>no reasonable cause</b> to believe anyone become or ceased to be a registrable beneficial owner during the pre-registration period, that it has not already provided information about.",
      hint: {
        text: ""
      }
    },
    {
      value: "yes",
      html: "Yes - the entity has <b>reasonable cause</b> to believe at least one person become or ceased to be a registrable beneficial owner during the pre-registration period, that it has not already provided information about. ",
hint: {
        text: ""
      }
    }
  ]
}) }}

        {{ govukInsetText({
          html: '<h2 class="govuk-heading-m">What information we’ll show on the public register</h2>
                <p>We will show this statement on the public Register of Overseas Entities.</p>'
        }) }}


      {{ govukButton({
        text: "Save and continue"
      }) }}
      </form>

<!--
<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Why am I being asked this question?
    </span>
  </summary>
  <div class="govuk-details__text">
    We require information on X, Y, Z
  </div>
</details>
-->


    </div>
  </div>

{% endblock %}
