{% extends "layouts/main.html" %}

{% block pageTitle %}
Will you be making any changes to the overseas entity? – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/before-content.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="../verification/completing-update" method="post">
        
  <span class="govuk-caption-l">{{ data['overseas-name'] }} - {{ data['overseas-id'] }}</span>
        <h1 class="govuk-heading-xl">Do you need to make any changes to this overseas entity?</h1>

      <p class="govuk-!-margin-bottom-5 govuk-!-margin-top-5">This includes any changes to information about the overseas entity, its beneficial owners or managing officers.</p>


        {{ govukRadios({
          idPrefix: "no-change",
          name: "no-change",
          fieldset: {
            legend: {
              text: "Have you made any changes to the overseas entity?",
              isPageHeading: false,
              classes: "govuk-visually-hidden"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes, I need to make changes",
      hint: {
        text: "All changes must have been verified by a UK-regulated agent no more than 3 months before the date of this update statement."
      }
            },
            {
              value: "no",
              text: "No, I do not need to make changes",
      hint: {
        text: ""
      }
            }

          ]
        }) }}
{# 
        {{ govukCheckboxes({
  name: "waste",
  fieldset: {
    legend: {
      text: "Declaration for changes",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "change-declaration",
      text: "I understand that this filing may be rejected and have to pay the £X filing fee again if I provide information that contradicts the above statement."
    }
  ]
}) }} #}


{# ,
          errorMessage: {
                  text: "Select if any beneficial owners have been identified"
                }
                 #}




          {{ govukButton({
            text: "Save and continue"
          }) }}


        {#
          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
              What verification checks are needed?
              </span>
            </summary>
            <div class="govuk-details__text">
            Verification checks are needed on any changes made to information about the overseas entity, its beneficial owners or managing officers. 
            </div>
            <div class="govuk-details__text">
            Verification checks can only be carried out by a UK-regulated agent, and must have been completed no more than 3 months before the date of this update statement.   </div>
              </div>
          </details>
          #}

      </form>

    </div>
  </div>

{% endblock %}
