{% extends "layouts/main.html" %}

{% block pageTitle %}
  Before you start – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/before-content.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">You need to make sure verification checks have been completed</h1>
        <p class="govuk-body">Any updates to information about the overseas entity, its beneficial owners or managing officers must be verified by a UK-regulated agent.</p>
        <p class="govuk-body">The verification checks must have been completed no more than 3 months before the date of this update statement.</p>
        <p class="govuk-body">You can close this window, and your filing will be saved. Once verification checks are complete, you can return to this filing by signing back into the service. </p>


    </div>
  </div>

{% endblock %}
