{% extends "layouts/main.html" %}

{% block pageTitle %}
  What types of individuals and organisations are involved in the trust? – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/before-content.html" %}
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <span class="govuk-caption-l">{{ data['trust-name'] }}</span>
      <h1 class="govuk-heading-xl">Individuals or entities involved in the trust</h1>

      <div class="govuk-summary-card govuk-!-margin-bottom-9">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">What you have reviewed</h2>
        </div>
        <div class="govuk-summary-card__content">
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header govuk-visually-hidden">Name</th>
                <th scope="col" class="govuk-table__header govuk-visually-hidden">Type</th>
                <th scope="col" class="govuk-table__header govuk-visually-hidden">Remove from this trust</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              {% if "Daniel Ashcroft" in data['bo-checklist'] %}
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Beneficial owner</th>
                <td class="govuk-table__cell">Daniel Ashcroft</td>
                <td class="govuk-table__cell"><a href="trust-details#bo-checklist">Remove from this trust</a></td>
              </tr>
              {% endif %}
              {% if "Name Corp" in data['bo-checklist'] %}
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Beneficial owner</th>
                <td class="govuk-table__cell">Name Corp</td>
                <td class="govuk-table__cell"><a href="trust-details#bo-checklist">Remove from this trust</a></td>
              </tr>
              {% endif %}
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Former beneficial owner</th>
                <td class="govuk-table__cell">Jane Wright</td>
                <td class="govuk-table__cell"><a href="trust-details#former-checklist">Remove from this trust</a></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Individual</th>
                <td class="govuk-table__cell">{{ data['individual-first-name'] }} {{ data['individual-last-name'] }}</td>
                <td class="govuk-table__cell"><a href="trust-details#individual-checklist">Remove from this trust</a></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Individual</th>
                <td class="govuk-table__cell">{{ data['individual2-first-name'] }} {{ data['individual2-last-name'] }}</td>
                <td class="govuk-table__cell"><a href="trust-details#individual-checklist">Remove from this trust</a></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Legal entity</th>
                <td class="govuk-table__cell">{{ data['legal-entity-name'] }}</td>
                <td class="govuk-table__cell"><a href="trust-details#legal-checklist">Remove from this trust</a></td>
              </tr>
            </tbody>
          </table>
        </div> 
      </div>

      {% if "Lisa Smithh" in data['bo-checklist'] or "Beta Limited" in data['bo-checklist']%}
      <table class="govuk-table govuk-!-margin-bottom-9">
        <caption class="govuk-table__caption govuk-table__caption--m">What you have added to this trust</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-visually-hidden">Name</th>
            <th scope="col" class="govuk-table__header govuk-visually-hidden">Type</th>
            <th scope="col" class="govuk-table__header govuk-visually-hidden">Change</th>
            <th scope="col" class="govuk-table__header govuk-visually-hidden">Remove from this trust</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          {% if "Lisa Smith" in data['bo-checklist'] %}
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Beneficial owner</th>
            <td class="govuk-table__cell">Lisa Smith</td>
            <td class="govuk-table__cell"><a href="trust-details#bo-checklist">Remove from this trust</a></td>
          </tr>
          {% endif %}
          {% if "Beta Limited" in data['bo-checklist'] %}
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Beneficial owner</th>
            <td class="govuk-table__cell">Beta Limited</td>
            <td class="govuk-table__cell"><a href="trust-details#bo-checklist">Remove from this trust</a></td>
          </tr>
          {% endif %}
        </tbody>
      </table>
      {% endif %}
      

        {% if not data['former-checklist'] or
              not data['individual-checklist'] or 
              not data['legal-checklist'] or 
              not "Name Corp" in data['bo-checklist'] or 
              not "Daniel Ashcroft" in data['bo-checklist'] %}
        <table class="govuk-table govuk-!-margin-bottom-9">
          <caption class="govuk-table__caption govuk-table__caption--m">What you have removed from this trust</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-visually-hidden">Name</th>
              <th scope="col" class="govuk-table__header govuk-visually-hidden">Type</th>
              <th scope="col" class="govuk-table__header govuk-visually-hidden">Change</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            {% if not "dan_ashcroft" in data['bo-checklist'] %}
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Beneficial owner</th>
              <td class="govuk-table__cell">Daniel Ashcroft</td>
              <td class="govuk-table__cell"><a href="trust-details#bo-checklist">Change</a></td>
            </tr>
            {% endif %}
            {% if not "name_corp" in data['bo-checklist'] %}
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Beneficial owner</th>
              <td class="govuk-table__cell">Name Corp</td>
              <td class="govuk-table__cell"><a href="trust-details#bo-checklist">Change</a></td>
            </tr>
            {% endif %}
            {% if not data['former-checklist'] %}
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Former beneficial owner</th>
              <td class="govuk-table__cell">Lisa Wright</td>
              <td class="govuk-table__cell"><a href="trust-details#former-checklist">Change</a></td>
            </tr>
            {% endif %}
            {% if not data['individual-checklist'] %}
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Individual</th>
              <td class="govuk-table__cell">Fred Lock</td>
              <td class="govuk-table__cell"><a href="trust-details#individual-checklist">Change</a></td>
            </tr>
            {% endif %}
            {% if not data['legal-checklist'] %}
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Legal entity</th>
              <td class="govuk-table__cell">Salcombe Ltd</td>
              <td class="govuk-table__cell"><a href="trust-details#legal-checklist">Change</a></td>
            </tr>
            {% endif %}
          </tbody>
        </table>
      {% endif %}

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="{{currentUrl}}" method="post">

      {{ govukRadios({
          idPrefix: "trustTypes",
          name: "trustTypes",
          fieldset: {
            legend: {
              text: "Which type of individual or entity do you want to add to this trust?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "You can add more later."
          },
          items: [
            {
              value: "historical",
              text: "Former beneficial owner",
              hint: {
                  text: "This is any individual or legal entity that was previously a registrable beneficial owner of the overseas entity, due to being a trustee of this trust."
                }
            },
            {
              value: "individual-trusts",
              text: "Individual",
              hint: {
                  text: "This is an individual who is currently a beneficiary, settlor, grantor or interested person for this trust."
                }
            },
            {
              value: "ole-trusts",
              text: "Legal entity",
              hint: {
                text: "This is a legal entity that is currently a beneficiary, settlor, grantor or interested person for this trust. You do not need to tell us about government or public authorities."
                }
            }
              ]
        }) }}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Add"
          }) }}

            {{ govukButton({
              html: 'No more <span class="govuk-visually-hidden">individuals or entities</span> to add',
              classes: "govuk-button--secondary",
            href: 'add-trust'
            }) }}
        </div>
      </form>
      
    </div>
  </div>

{% endblock %}
