{% extends "layouts/main.html" %}

{% block pageTitle %}
  Tell us about the trust – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/before-content.html" %}
{% endblock %}


{% block content %}

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">
              You need to add a trust for 'Name corp'
            </h1>

            {{ govukWarningText({
              text: "This beneficial owner is a trustee of a trust but has not been added to any trust associated with this overseas entity",
              iconFallbackText: "Warning"
            }) }}


            {{ govukRadios({
              classes: "govuk-radios",
              idPrefix: "addTrust",
              name: "addTrust",
              fieldset: {
                legend: {
                  text: "Do you want to add a new trust or change the beneficial owner to not be the trustee of a trust?
            ",
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--m"
                }
              },
              hint: {
              text: " "
            },
              items: [
                {
                  value: "new",
                  text: "Add a new trust"
                },
                {
                  value: "add",
                  text: "Add the beneficial owner to Island Trust"
                },
                {
                  value: "remove",
                  text: "The beneficial owner is not the trustee of a trust"
                }
              ]
            }) }}

            {{ govukButton({
              text: "Save and continue",
              href: '../submit-pay/check-your-answers'
            }) }}

            <p>
            *CONTENT ON THIS PAGE TBC*
            </p>


          </div>
        </div>

{% endblock %}
