{% extends "layouts/main.html" %}

{% block pageTitle %}

Who is completing this update?
 – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/before-content.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


 <form class="form" action="../verification/agent-checks" method="post">


{{ govukRadios({
  idPrefix: "whoIsFilingUr",
  name: "who-is-filing-ur",
  fieldset: {
    legend: {
      text: "Who is completing this update?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--xl"
    }
  },
  items: [
  {
    value: "agent",
    text: "Someone who works for the UK-regulated agent that carried out verification checks",
    checked: checked("whoIsFiling", "agent")
  },
    {
      value: "else",
      text: "Someone else",
      checked: checked("whoIsFiling", "else")
    }

  ]
}) }}







      {{ govukButton({
        text: "Save and continue"
      }) }}
      </form>


    </div>
  </div>

{% endblock %}
