{% extends "layout.html" %}

{% block pageTitle %}

An email has been sent to the overseas entity
 – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/before-content.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

<!-- THIS PAGE IS FOR THE IN SERVICE FLOW -->

    <form action="/authentication-code" method="post" novalidate>

<h1 class="govuk-heading-xl">An email has been sent to the overseas entity</h1>
<div class="govuk-!-padding-bottom-1"></div>


<div class"govuk-!-padding-top-9">
<p class"govuk-body">You should receive an email with the authentication code within 30 minutes.

</p></div>



  {{ govukButton({
    text: "Continue",
    href: "/v1/authentication-code"
  }) }}
          
 {{ govukDetails({
  summaryText: "Help for the authentication code",
  text: "This is a code issued to the overseas entity. 
  It is used to authorise information filed online and acts like a PIN number or password."
}) }}

    
    
    </form>

    </div>
  </div>

{% endblock %}
