{% extends "layout.html" %}

{% block pageTitle %}
Have any beneficial owners become or ceased in the update period? – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/before-content.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="../beneficial-owner/bo-mo-review" method="post">



{{ govukRadios({
  classes: "govuk-radios",
  idPrefix: "startingNew",
  name: "starting-new",
  fieldset: {
    legend: {
      text: "Has anyone become or ceased to be a registrable beneficial owner during the update period?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--xl"
    }  
  },
  hint: {
    text: ""
  },
  items: [
    {
      value: "yes",
      text: "The entity has no reasonable cause to believe that anyone has become or ceased to be a registrable beneficial owner during the update period.",
      hint: {
        text: ""
      }
    },
    {
      value: "no",
      text: "The entity has reasonable cause to believe that at least one person has become or ceased to be a registrable beneficial owner during the update period.",
hint: {
        text: ""
      }
    }
  ]
}) }}




      {{ govukButton({
        text: "Continue"
      }) }}
      </form>




    </div>
  </div>

{% endblock %}
