{% extends "layout.html" %}

{% block pageTitle %}
  Review individuals associated with the trust – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/before-content.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">{{ data['trust-name'] }}</span>
      <h1 class="govuk-heading-xl">Review individuals</h1>
      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">Individuals associated with this trust</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Name</th>
            <th scope="col" class="govuk-table__header">Role</th>
            <th scope="col" class="govuk-table__header">Change</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Rob Wilson</th>
            <td class="govuk-table__cell">Settlor</td>
            <td class="govuk-table__cell"><a href="#">Change</a></td>
          </tr>
        </tbody>
      </table>

      {% from "govuk/components/button/macro.njk" import govukButton %}
      <div class="govuk-button-group">
        {{ govukButton({
          text: "Add an individual",
          href: "42-tell-us-about-the-individual"
        }) }}
      
        {{ govukButton({
          text: "No more to add",
          classes: "govuk-button--secondary",
          href: "49-legal-entities"
        }) }}
      </div>

    </div>
  </div>

{% endblock %}
