{% extends "layouts/main.html" %}
{% set serviceName %}
{% if data['roe-prototype-scenario'] == 'update' %}
    File an overseas entity update statement
  {% else %}
    Apply to de-register an overseas entity
  {% endif %}
  {% endset%}
  
Has the overseas entity been removed from the Land Registries as the owner of any property or land in the UK?
 – {{ serviceName }} – GOV.UK


{% block beforeContent %}
  {% include "includes/before-content.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

 
  <form action="06b-is-the-overseas-entity-registered-as-the-owner" method="post">


    {{ govukRadios({
      classes: "govuk-radios",
      idPrefix: "ownerDisposed",
      name: "owner-disposed",
      fieldset: {
        legend: {
          text: "Has the overseas entity been removed from the land registry records as the owner of UK property or land?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--xl"
        }
      },
      hint: {
      text: "This includes titles held at HM Land Registry (for England and Wales), the Land Register of Scotland, and the Land Registry for Northern Ireland."
    },
      items: [
        {
          value: "yes",
          text: "Yes"
        },
        {
          value: "no",
          text: "No"
        }
      ]
    }) }}

{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{{ govukWarningText({
  text: "If our checks show the entity is still listed as the registered owner of UK property or land, this application will be rejected and the fee will not be refunded.",
  iconFallbackText: "Warning"
}) }}

{% from "govuk/components/details/macro.njk" import govukDetails %}

{{ govukDetails({
  summaryText: "What does it mean to be removed from the land registry records?",
  html: '<p>This means that the overseas entity is no longer shown on any land registry as the registered owner (proprietor) of UK property or land.</p> 

  <p>Even if you’ve registered a disposal with the relevant UK land registry, you need to wait until it has been processed. You should only submit this application if you can see that the entity has been removed from the land registry records.</p>'
}) }}
  

  {{ govukInsetText({
  html: '<h2 class="govuk-heading-m">What information we’ll show on the public register</h2>
        <p>We will not show any of the information you provide in this section on the public Register of Overseas Entities.</p>'
}) }}

          {{ govukButton({
            text: "Continue"
          }) }}
  </form>



    </div>
  </div>

{% endblock %}
