{% extends "layouts/main.html" %}

{% block pageTitle %}
  The statement you've chosen does not match the information provided in this update – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/before-content.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="ur-bo-identified" method="post">
        
  <span class="govuk-caption-l">{{ data['overseas-name'] }} - OE001485</span>
        <h1 class="govuk-heading-xl">The statements you've chosen do not match the information provided in this update</h1>

  <div> 
    {% set html %}
    <p class="govuk-notification-banner__heading">
      You need to either change your statements, or change the information provided about the overseas entity and its beneficial owners.
    </p>
  {% endset %}
  
  {{ govukNotificationBanner({
    html: html
  }) }}


  <div> 
    <p>The statements that you have selected are:</p>
  </div>
  <div class="bo-statement govuk-!-margin-bottom-6">
<p class"govuk-body">All beneficial owners have been identified and all required information has been provided.</p>

</div>


  {# <div> 
    <p>However, you have selected:</p>
  </div> #}

  <div class="bo-statement govuk-!-margin-bottom-6">
<p class"govuk-body">The entity has <strong>no reasonable cause </strong>to believe that <strong>anyone</strong> has become or ceased to be a registrable beneficial owner during the update period.</p>

</div>




        {{ govukRadios({
          idPrefix: "statementConceptBoUr",
          name: "statementConceptBoUr",
          fieldset: {
            legend: {
              text: "What do you want to do?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
                            value: "change-statement",
              text: "I need to change my statements"
            },
            {
 value: "change-info",
              text: "I need to change the information I have provided in this update"

    }
          ]
        }) }}



          {{ govukButton({
            text: "Continue"
          }) }}

      </form>

    </div>
  </div>

{% endblock %}

          {# hint: {
           text: "Select this option to tell us the correct statements."
             
         }


          hint: {
           text: "Select this option to tell us the correct details about those involved in the overseas entity."
         } #}