{% extends "layouts/main.html" %}
{% set serviceName %}
{% if data['roe-prototype-scenario'] == 'update' %}
    File an overseas entity update statement
  {% else %}
    Apply to remove an overseas entity from the register
  {% endif %}
  {% endset%}
{% block pageTitle %}
  Beneficial owner statements – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/before-content.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="16-has-anyone-become-or-ceased-to-be-a-registrable-beneficial-owner-during-the-update-period" method="post">
        
  <span class="govuk-caption-l">{{ data['overseas-name'] }} - OE001485</span>
        <h1 class="govuk-heading-xl">Has the overseas entity identified all its registrable beneficial owners?</h1>

{# {% if errorStatements == true %}
ecked: checked("statements", "noneIdentified")
            }
          ],
          errorMessage: {
                  text: "Select if any beneficial owners have been identified"
                }
        }) }}
{% else %} #}

       <p class="govuk-body">We'll ask you to provide this statement every time you file for this overseas entity. The statement should be correct as at the date of the filing.</p>

        {{ govukRadios({
          idPrefix: "statements",
          name: "statements",
          fieldset: {
            legend: {
              text: "Have you identified any beneficial owners?",
              isPageHeading: false,
              classes: "govuk-visually-hidden"
            }
          },
          items: [
            {
              value: "allIdentifiedAllSupplied",
              text: "All beneficial owners have been identified and I have provided all the required information",
              checked: checked("statements", "allIdentifiedAllSupplied")
            },
            {
              value: "someIdentifiedAllSupplied",
              text: "Some beneficial owners have been identified and I have provided all required information",
              hint: {
                text: "You have also provided information about each managing officer."
              },
              checked: checked("statements", "someIdentifiedAllSupplied")
            },
            {
              value: "noneIdentified",
              text: "No beneficial owners have been identified",
              hint: {
                text: "You have provided information about each managing officer."
              },
              checked: checked("statements", "noneIdentified")
            }
          ]
        }) }}

   

          {# <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
              What are registrable beneficial owners and managing officers?
              </span>
            </summary>
            <div class="govuk-details__text">
            A beneficial owner is any legal body that has significant influence or control over the overseas entity. It can be an individual person, other legal entity, government or public authority.
            </div>
            <div class="govuk-details__text">
            A beneficial owner is registrable if they meet one or more of the conditions known as the natures of control.   </div>
            <div class="govuk-details__text">
A managing officer is a director, manager or company secretary of the overseas entity.

            </div>
          </details> #}




        {{ govukInsetText({
          html: '<h2 class="govuk-heading-m">What information we’ll show on the public register</h2>
                <p>We will show the information you provide in this section on the public Register of Overseas Entities.</p>'
        }) }}

          {{ govukButton({
            text: "Save and continue"
          }) }}

      </form>

    </div>
  </div>

{% endblock %}
