{% extends "layout.html" %}

{% block pageTitle %}

Enter the authentication code
 – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/before-content.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">



    <form action="/form-handler" method="post" novalidate>


{{ govukInput({
  label: {
    text: "Enter the authentication code",
    classes: "govuk-label--xl",
    isPageHeading: true
  },
  id: "auth-code",
  name: "auth-code",
  value: data["auth-code"] 
}) }}


  {{ govukButton({
    text: "Continue"
  }) }}
          
  <p><a class="govuk-link" href="#">
    Choose a different overseas entity
  </a></p>
    
    
    </form>

    </div>
  </div>

{% endblock %}
