{% extends "layout.html" %}

{% block pageTitle %}

Enter the authentication code
 – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/before-content.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">



    <form action="/form-handler" method="post" novalidate>

<h1 class="govuk-heading-xl">Enter the authentication code</h1>

<p class"govuk-body">The authentication code is a 6 digit alphanumeric code issued by us to each overseas entity.</p>

{{ govukInput({
  label: {
    text: "Enter the authentication code",
    classes: "govuk-visually-hidden",
    isPageHeading: true
  },
  hint: {
    text: "For example, 908390"
  },
  id: "auth-code",
  name: "auth-code",
  value: data["auth-code"] 
}) }}



 {{ govukDetails({
  summaryText: "What is the authentication code and how do I get it?",
  html: '<p class"govuk-body">
    The authentication code is a 6-digit alphanumeric code that we issue to each overseas entity. We ask for it every time someone files online for the overseas entity – it confirms to us that they are authorised to do so.</p>
  <p>
    If you need to request an authentication code, you will need to search for the overseas entity on the Companies House register, and then select Request an authentication code.</p>
  <p>
    [Need confirmation that this is the process]</p>'
}) }}




  {{ govukButton({
    text: "Continue",
    href: "filing-date"
  }) }}
          

    
    
    </form>

    </div>
  </div>

{% endblock %}
