{% extends "layout.html" %}

{% block pageTitle %}

Do you have an authentication code for this overseas entity?
 – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/before-content.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

<form class="form" method="post">

{{ govukRadios({
  classes: "govuk-radios",
  idPrefix: "codeFilter",
  name: "codeFilter",
  fieldset: {
    legend: {
      text: "Do you have an authentication code for this overseas entity?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--xl"
    }
  },
  hint: {
  text: "This is a 6-digit code issued by us to each overseas entity. You need the code to file online for this entity."
},
  items: [
    {
      value: "yes",
      text: "Yes"
    },
    {
      value: "no",
      text: "No, I need to request an authentication code"
    }
  ]
}) }}

{{ govukDetails({
  summaryText: "What is an authentication code?",
  html: '<p class="govuk-body">
    The authentication code is a 6-digit alphanumeric code that we issue to each overseas entity. 
    We ask for it every time someone files online for the overseas entity – it confirms to us that they are authorised to do so.
    </p>
  <p class="govuk-body">
    If you do not have the authentication code, you should check with the last person to have filed online for this company. 
  If they have requested one, they may be able to share it with you.
  </p>'
}) }}

      {{ govukButton({
        text: "Continue"
      }) }}
      </form>




    </div>
  </div>

{% endblock %}
