{% extends "layout.html" %}

{% block pageTitle %}

Enter the authentication code
 – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/before-content.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">



    <form method="post" novalidate>

<h1 class="govuk-heading-xl">Get an the authentication code</h1>


<p class"govuk-body">
    Filler text.... the authentication code is a 6-digit alphanumeric code that we issue to each overseas entity. We ask for it every time someone files online for the overseas entity – it confirms to us that they are authorised to do so.
</p>
  <p>
If you do not have the authentication code, you should check with the last person to have filed online for this company. If they have requested one, they may be able to share it with you.
    </p>
  <p>
    If the overseas entity has not yet been sent a code, or you need it to be resent, you can <a href="https://find-and-update.company-information.service.gov.uk" target="_blank">lorem ipsum (opens in a new tab)</a>.
    </p>




 {{ govukDetails({
  summaryText: "Lorem ipsum",
  html: '<p class"govuk-body">
    Lorem ipsum </p>'
}) }}




  {{ govukButton({
    text: "Continue",
    href: "authentication-code"
  }) }}
          

    
    
    </form>

    </div>
  </div>

{% endblock %}
