{% extends "layout.html" %}

{% block pageTitle %}

What date is the filing made up until?
 – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/before-content.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  <span class="govuk-caption-l">{{ data['overseas-name'] }} - {{ data['overseas-id'] }}</span>
    <h1 class="govuk-heading-xl">
      What date is the filing made up until?
    </h1>

<!--add in <form>-->

<p class="govuk-body">The date can be a maximum of 12 months since the last update.<br>
<strong>The last update was 6 August 2022</strong>.</p>

{{ govukDateInput({
  id: "filing-date",
  namePrefix: "filing-date",
  fieldset: {
  },
  hint: {
    text: "For example, 28 11 2022"
  }
}) }}


{{ govukButton({
  text: "Continue",
  href: "task-list"
}) }}

{{ govukDetails({
  summaryText: "Information about filing dates",
  html: 'You can tell us about a maximum of 12 months of accounts, 1 Dec 2022 - 30 Nov 2023 for example.
        You can file as often as needed and make sure there are no gaps in your filings.
        <br><br>
        If you need to tell us about more than 12 months you will need to file more than one update. 
        <a href="#">Read more about late filings</a>.'
}) }}


      </div>
      </div>
    </form>
    </div>

{% endblock %}
