{% extends "layout.html" %}

{% block pageTitle %}

Confirm this is the correct overseas entity
 – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/before-content.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Confirm this is the correct overseas entity</h1>
    
  
<form>
      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: "Name"
            },
            value: {
              text: "ASHCROFT LIMITED"
            },
            actions: {
              items: [
                {
                }
              ]
            }
          },
          {
            key: {
              text: "Overseas Entity ID"
            },
            value: {
              text: "OE000063"
            },
            actions: {
              items: [
                {
                }
              ]
            }
          },
          {
            key: {
              text: "Registered on"
            },
            value: {
              html: "16 August 2022"
            },
            actions: {
              items: [
                {
                }
              ]
            }
          },
          {
            key: {
              text: "Incorporated in"
            },
            value: {
              text: "VIRGIN ISLANDS, BRITISH"
            },
            actions: {
              items: [
                {
                }
              ]
            }
          }
        ]
      }) }}
    </form>
    </div>
  </div>

  

  {{ govukButton({
    text: "Confirm and continue",
    href: "auth-filter"
  }) }}
          
  <p><a class="govuk-link" href="oe-id">
    Choose a different overseas entity
  </a></p>

          
    </form>
    </div>
  </div>


{% endblock %}
