{% extends "../layouts/v1-layout.html" %}

{% block pageTitle %}
  You're about to review overseas entity information – {{ serviceName }} – GOV.UK
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  {% include "includes/before-content.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

  <span class="govuk-caption-l">{{ data['overseas-name'] }} - {{ data['overseas-id'] }}</span>
      <h1 class="govuk-heading-xl">
        You're about to review overseas entity information
      </h1>


    <p class="govuk-body">
      We'll show you the information we hold about the overseas entity.
    </p>

      <p class="govuk-body">You'll need to:</p>
      <ol class="govuk-list govuk-list--number">
        <li>Check the information is correct and update it if needed.</li>
        <li>Enter the overseas entity's email address.</li>
      </ol>


{{ govukButton({
  text: "Save and continue",
  classes: "govuk-!-margin-top-4",
  href: '/v1/oe-details'
}) }}

    </div>
  </div>

{% endblock %}
