{% extends "layout.html" %}

{% block pageTitle %}
  Task list template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">Paris Hotel - OE001485</span>
      <h1 class="govuk-heading-xl">
        File an overseas entity update statement
      </h1>

      <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Filing incomplete</h2>
      <p class="govuk-body govuk-!-margin-bottom-7">You have completed 0 of 8 sections.</p>

      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
            Contact and entity details
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="eligibility-status">
                  Contact details
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="eligibility-status">Not started</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="read-declaration-status">
                  Verification details
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="read-declaration-status">Not started</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="read-declaration-status">
                  Overseas entity details
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="read-declaration-status">Not started</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            Beneficial owners and managing officers
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="company-information-status">
                  Beneficial owners
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="company-information-status">Not started</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="contact-details-status">
                  Managing officers
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="contact-details-status">Not started</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            Trusts
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                Trust information
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status">Cannot start yet</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            Submit
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                Check your answers
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status">Cannot start yet</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                Submit and pay
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status">Cannot start yet</strong>
            </li>
          </ul>
        </li>

      </ol>
    </div>
  </div>

{% endblock %}
