{% extends "layout.html" %}

{% block pageTitle %}
{% if errorList.length > 0 %}
  Error:
{% endif %}
You cannot use this service – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<!--  INTERACTION DESIGN NOTES 
This is a new component to be tested - https://github.com/x-govuk/task-list-component
-->

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">{{ data['overseas-name'] }} - {{ data['overseas-id'] }}</span>
      <h1 class="govuk-heading-xl">Task list</h1>


{% from "task-list-component/macro.njk" import govukTaskList %}
{{govukTaskList({
  items: [
    {
      href: "https://google.com/",
      hint: {text: "Tell us who we can contact about this application"},
      title: {text: "Contact details"},
      statusId: "ggl",
      status: {
        classes: "govuk-task-list__status--grey",
        text: "NOT STARTED"
      }
    },
        {
      href: "https://google.com/",
      hint: {text: "Ensure you or your agent is verified with us before completing."},
      title: {text: "Verification details"},
      statusId: "ggl",
      status: {
        classes: "govuk-task-list__status--light-blue",
        text: "In progress"
      }
    },
    {
      href: "https://bing.com/",
      hint: {text: "Bing is bad"},
      title: {text: "Bing something"},
      statusId: "bng",
      status: {
        classes: "govuk-task-list__status--error",
        text: "I refuse"
      }
    }
  ] 
})}}



    </div>
  </div>


{% endblock %}
