{% extends "layout.html" %}

{% block pageTitle %}
{% if errorList.length > 0 %}
  Error:
{% endif %}
You cannot use this service – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<!--  INTERACTION DESIGN NOTES 
This is a new task list component to be tested - https://github.com/x-govuk/task-list-component
Sheena Patel has been part of the team creating this
-->

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">{{ data['overseas-name'] }} - {{ data['overseas-id'] }}</span>
      <h1 class="govuk-heading-xl">Task list</h1>


{% from "task-list-component/macro.njk" import govukTaskList %}
{{govukTaskList({
  items: [
    {
      href: "#",
      title: {text: "Contact details"},
      statusId: "contact",
      status: {
        classes: "govuk-task-list__status--grey",
        text: "Not started"
      }
    },
        {
      href: "#",
      hint: {text: "Make sure the identity verification checks have taken place."},
      title: {text: "Verification details"},
      statusId: "verification",
      status: {
        classes: "govuk-task-list__status--light-blue",
        text: "In progress"
      }
    },
    {
      href: "#",
      title: {text: "Overseas entity details"},
      statusId: "overseas",
      status: {
        classes: "govuk-task-list__status--error",
        text: "Cannot start"
      }
    }
  ] 
})}}



    </div>
  </div>


{% endblock %}
