{% extends "layout.html" %}

{% block pageTitle %}

Request an authentication code for your overseas entity
 – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/before-content.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">



    <form action="/form-handler" method="post" novalidate>

<h1 class="govuk-heading-xl">Request an authentication code for your overseas entity</h1>
<div class="govuk-!-padding-bottom-1"></div>

<p class"govuk-body">Request an authentication code for:</p>
<h2 class="govuk-heading-m">ASHCROFT LIMITED OE000063</h2>

<!--<p class"govuk-body">Request an authentication code for<br>
<strong>ASHCROFT LIMITED OE000063</strong></p>-->

<p class"govuk-body">The authentication code will be sent by email to the email address at the overseas entity.
</p>



  {{ govukButton({
    text: "Request authentication code",
    href: "filing-date"
  }) }}
          
 {{ govukDetails({
  summaryText: "What is the authentication code and how do I get it?",
  text: "This is a code issued to the overseas entity. 
  It is used to authorise information filed online and acts like a PIN number or password."
}) }}

    
    
    </form>

    </div>
  </div>

{% endblock %}
