{% extends "layouts/main.html" %}

{% block pageTitle %}
  Before you start – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/before-content.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Agent assurance codes for verification checks</h1>
        <p class="govuk-body">If there have been any changes to any of the overseas entity's beneficial owners or managing officers, these changes must be verified by a UK-regulated agent. This must be done no more than 3 months before this update statement is submitted.</p>
        <p class="govuk-body">You need to come back etc etc</p>
        <p class="govuk-body">You can close this window etc etc.</p>

    </div>
  </div>

{% endblock %}
