{% extends "layouts/main.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
{% endblock %}




{% block content %}
  <div class="govuk-width-container">
  <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

{{ govukWarningText({
      text: "This prototype is being actively worked on - things might break or change very quickly",
      iconFallbackText: "Warning"
    }) }}



    <h2 class="govuk-heading-m govuk-!-padding-top-4">
      Prototypes
    </h2>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Version</th>
          <th class="govuk-table__header" scope="col">Sprint</th>
          <th class="govuk-table__header" scope="col">Date</th>
          <th class="govuk-table__header" scope="col">Status</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
       

        <tr class="govuk-table__row">
           <td class="govuk-table__cell">
             <a href="v12/index">V12</a>
           </td>
           <td class="govuk-table__cell">
             -
           </td>
           <td class="govuk-table__cell">
             April 2024
           </td>
           <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--blue">
              Not Tested
            </strong>
           </td>
         </tr>


        <tr class="govuk-table__row">
           <td class="govuk-table__cell">
             <a href="v11/index">V11 - relevant period added</a>
           </td>
           <td class="govuk-table__cell">
             -
           </td>
           <td class="govuk-table__cell">
             March 2024
           </td>
           <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--green">
              Tested
            </strong>
           </td>
         </tr>
       
        <tr class="govuk-table__row">
           <td class="govuk-table__cell">
             <a href="v10/index">V10</a>
           </td>
           <td class="govuk-table__cell">
             -
           </td>
           <td class="govuk-table__cell">
             February 2024
           </td>
           <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--blue">
              Not Tested
            </strong>
           </td>
         </tr>
       


        <tr class="govuk-table__row">
           <td class="govuk-table__cell">
             <a href="v9/index">V9</a>
           </td>
           <td class="govuk-table__cell">
             -
           </td>
           <td class="govuk-table__cell">
             17 October 2023
           </td>
           <td class="govuk-table__cell">
             <strong class="govuk-tag govuk-tag--green">
               Live
             </strong>
           </td>
         </tr>
       


       <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="v8/index">V8</a>
          </td>
          <td class="govuk-table__cell">
            12
          </td>
          <td class="govuk-table__cell">
            20 June 2023
          </td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--blue">
              Not Tested
            </strong>
          </td>
        </tr>




       <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="v7/index">V7</a>
          </td>
          <td class="govuk-table__cell">
            11
          </td>
          <td class="govuk-table__cell">
            6 June 2023
          </td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--blue">
              Not Tested
            </strong>
          </td>
        </tr>



       <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="v6/index">V6</a>
          </td>
          <td class="govuk-table__cell">
            10
          </td>
          <td class="govuk-table__cell">
            22 May 2023
          </td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag">
              MVP
            </strong>
          </td>
        </tr>


<tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="v5/index">V5</a>
          </td>
          <td class="govuk-table__cell">
            10
          </td>
          <td class="govuk-table__cell">
            18 April 2023
          </td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--green">
              Tested
            </strong>
          </td>
        </tr>


<tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="v4/index">V4</a>
          </td>
          <td class="govuk-table__cell">
            7
          </td>
          <td class="govuk-table__cell">
            13 March 2023
          </td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--green">
              Tested
            </strong>
          </td>
        </tr>

      <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="v3/index">V3</a>
          </td>
          <td class="govuk-table__cell">
            6
          </td>
          <td class="govuk-table__cell">
            24 February 2023
          </td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--green">
              Tested
            </strong>
          </td>
        </tr>

                <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="v2/index">V2</a>
          </td>
          <td class="govuk-table__cell">
            5
          </td>
          <td class="govuk-table__cell">
            7 February 2023
          </td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--green">
              Tested
            </strong>
          </td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="v1/index">V1</a>
          </td>
          <td class="govuk-table__cell">
            4
          </td>
          <td class="govuk-table__cell">
            December 2022
          </td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--green">
              Tested
            </strong>
          </td>
        </tr>




        <!--
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="/dev-stable">Dev / stable</a></li>
          </td>
          <td class="govuk-table__cell">
          </td>
          <td class="govuk-table__cell">
          </td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--green">
              Stable
            </strong>
          </td>
        </tr>-->
      </tbody>
    </table>



    {# DEV/STABLE SERVICES #}
    <h2 class="govuk-heading-m govuk-!-padding-top-4">
      Dev/Stable
    </h2>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Links</th>

          <th class="govuk-table__header" scope="col">Status</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="dev-stable">Dev ready pages</a>
          </td>
        
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag">
              LIVE
            </strong>
          </td>
        </tr>

       
      </tbody>
    </table>


    {# OTHER ROE SERVICES #}
    <h2 class="govuk-heading-m govuk-!-padding-top-4">
      ROE services
    </h2>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Links</th>
          <th class="govuk-table__header" scope="col">Status</th>
        </tr>
      </thead>

<tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="https://update-roe-prototype.herokuapp.com">Remove an overseas entity</a>
          </td>
          <td class="govuk-table__cell">
          <strong class="govuk-tag govuk-tag--blue">
              PROTOTYPE
            </strong>
          </td>
        </tr>


        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="https://www.gov.uk/guidance/file-an-overseas-entity-update-statement">Update an overseas entity</a>
          </td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--green">
              LIVE
            </strong>
          </td>
        </tr>


      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="https://roe-v13.herokuapp.com">Register an overseas entity</a>
          </td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--blue">
              PROTOTYPE
            </strong>
          </td>
        </tr>


        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="https://www.gov.uk/guidance/register-an-overseas-entity">Register an overseas entity</a>
          </td>        
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--green">
              LIVE
            </strong>
          </td>
        </tr>
      </tbody>
    </table>



    <h2 class="govuk-heading-m govuk-!-padding-top-4">
      Playground for user testing
    </h2>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Feature</th>
          <th class="govuk-table__header" scope="col">Date</th>
          <th class="govuk-table__header" scope="col">Link</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
           name
          </td>
          <td class="govuk-table__cell">
            date
          </td>
          <td class="govuk-table__cell">
            <a href="#/">View</a>
          </td>
        </tr>
</table>






  </div>
</div>





{% endblock %}
