{% extends "layouts/main.html" %}
{% set serviceName %}
{% if data['roe-prototype-scenario'] == 'update' %}
    File an overseas entity update statement prototype
  {% else %}
    Apply to remove an overseas entity from the register prototype
  {% endif %}
  {% endset%}
{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
   {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
       {{ govukTag({
  classes: "govuk-tag--blue govuk-!-margin-bottom-4",
  text: "REMOVE BUILD - STATIC"
  }) }}

         {# {{ govukTag({
  classes: "govuk-tag--red govuk-!-margin-bottom-4",
  text: "STATIC PAGES"
  }) }} #}

  <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Apply to remove an overseas entity from the register
    </h1>

    {{ govukButton({
      text: "Start now",
      href: "remove-v6/00-remove-an-overseas-entity"
    }) }}

</div>

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-bottom-6">


<h2 class="govuk-heading-s">Contents</h2>
 <ul class="govuk-list">
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="govuk-link govuk-body-s govuk-link--no-underline" href="#authScreens">Authentication code screens</a>
        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="govuk-link govuk-body-s govuk-link--no-underline" href="#initial">Initial screens</a>
        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="govuk-link govuk-body-s govuk-link--no-underline" href="#no-change">No change</a>
        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="govuk-link govuk-body-s govuk-link--no-underline" href="#verification">Verification details</a>
        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="govuk-link govuk-body-s govuk-link--no-underline" href="#oe">Overseas entity</a>
        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="govuk-link govuk-body-s govuk-link--no-underline" href="#bomo">Beneficial owners and managing officers</a>
        </li>
         <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="govuk-link govuk-body-s govuk-link--no-underline" href="#manage-trusts">Manage trusts</a>
        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="govuk-link govuk-body-s govuk-link--no-underline" href="#trusts">Add trusts</a>
        </li>
         <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="govuk-link govuk-body-s govuk-link--no-underline" href="#statements">Statements</a>
        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="govuk-link govuk-body-s govuk-link--no-underline" href="#submitPay">Submit and pay</a>
        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="govuk-link govuk-body-s govuk-link--no-underline" href="#emails">Emails</a>
        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="govuk-link govuk-body-s govuk-link--no-underline" href="#other">Other screens</a>
        </li>        
        </ul>

  </div>

     
      <div class="govuk-grid-column-one-third">

  {# MURALS AND FLOWS LIST #}
  
  <div>
<div>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
<h2 class="govuk-heading-s">Journey maps and flows</h2>
  <ul class="govuk-list govuk-body-s">   

    <li>
      <a class="govuk-link govuk-link--no-visited-state" href="https://app.mural.co/t/companieshouse8589/m/companieshouse8589/1697451977876/8ad268c1499d01a77351a406c4d77fb470cee69d?sender=uc287fb0c65a61d3da2202202" target="_blank">
      MURAL: Remove and update screen flow</a></li>
      {{ govukTag({
  classes: "govuk-tag--red govuk-!-margin-bottom-2 govuk-!-margin-bottom-2",
  text: "REFER TO MURAL FOR FLOW"
  }) }}
    <li>
      <a class="govuk-link govuk-link--no-visited-state" href="https://app.mural.co/invitation/mural/companieshouse8589/1675954963582?sender=uc287fb0c65a61d3da2202202&key=2a8eefcb-86f8-49fb-bafd-0e1fccaec470" target="_blank">
      MURAL: Authentication code flow</a>
    </li>
  </ul>

  <h2 class="govuk-heading-s">Error messages</h2>
    <p class="govuk-body-s">
      <a class="govuk-link govuk-link--no-visited-state" href="https://companieshouse.atlassian.net/wiki/spaces/ROE2/pages/4334977098/Error+messages" target="_blank">
       Confluence of error messages</a>
    </p>
  <p class="govuk-body-s">
  <a class="govuk-link govuk-link--no-visited-state" href="https://design-system.service.gov.uk/components/error-summary/" target="_blank">
    Design system: error summary </a></p>
    <p class="govuk-body-s">
    <a class="govuk-link govuk-link--no-visited-state" href="https://design-system.service.gov.uk/components/error-message/" target="_blank">
    Design system: error message</a>
    </p>

      <h2 class="govuk-heading-s">Structure for page titles</h2>
    <p class="govuk-body-s">
      H1 - Service name - GOV.UK
    </p>

        </div>
    </div>
  </main>
</div>



  {# CONTENT LINKS LIST #}

<div class="govuk-grid-column-full">



<h2 class="govuk-heading-l">Remove only pages</h2>

<h2 class="govuk-heading-m">Initial screens</h2>

      <ul class="govuk-list govuk-list--bullet">      
     <li>
        <a class="govuk-link govuk-link--no-visited-state" href="remove-v6/00-remove-an-overseas-entity">
         Guidance page: Apply to remove an overseas entity from the register
     </li>
     <li>
        <a class="govuk-link govuk-link--no-visited-state" href="remove-v6/06a-entity-sold-all-land">
          Filter: Has the overseas entity disposed of all its property or land in the UK?
        </a>
     </li>
     <li>
        <a class="govuk-link govuk-link--no-visited-state" href="remove-v6/06b-is-the-overseas-entity-registered-as-the-owner">
          Filter: Is the overseas entity currently listed on any land registry records as the registered owner of property or land in the UK?
        </a>
     </li>
          <li>
        <a class="govuk-link govuk-link--no-visited-state" href="remove-v6/06c-you-cannot-apply-to-remove-this-overseas-entity">
         Stop screen: You cannot apply to remove this overseas entity
        </a>
     </li>
          <li>
        <a class="govuk-link govuk-link--no-visited-state" href="remove-v6/08b-before-you-start">
          Before you start
        </a>
     </li>
       <li>
        <a class="govuk-link govuk-link--no-visited-state" href="remove-v6/14-do-you-need-to-make-any-changes-to-this-overseas-entity">
          Do you need to make any changes to this overseas entity before it is removed?
        </a>
    </ul>
<br>
<h2 class="govuk-heading-m">No change</h2>
<ul class="govuk-list govuk-list--bullet">    

     </li>

     </li>
        <li><a href="remove-v6/18-review-the-information-in-this-update-statement">
          Review the information before submitting
          </a></li>
     </li>
</ul>
     <h2 class="govuk-heading-m">Statements</h2>
<ul class="govuk-list govuk-list--bullet">    
           <li>
        <a class="govuk-link govuk-link--no-visited-state" href="remove-v6/16c-removal-from-the-register-statement">
          Confirm the removal statement
        </a></li>
        </ul>

           <h2 class="govuk-heading-m">Submit and pay</h2>
<ul class="govuk-list govuk-list--bullet">    
               <li>
        <a class="govuk-link govuk-link--no-visited-state" href="remove-v6/36-check-your-answers-before-submitting">
          Check your answers before submitting
        </a>
     </li>
            <li>
        <a class="govuk-link govuk-link--no-visited-state" href="remove-v6/37-update-statement-submitted">
          Application submitted - agent
        </a>
     </li>
            <li>
        <a class="govuk-link govuk-link--no-visited-state" href="remove-v6/38-entity-statement-submitted">
          Application submitted - overseas entity
        </a>
     </li>
</ul>
<br>


<h2 class="govuk-heading-m">After submission</h2>
<ul class="govuk-list govuk-list--bullet">    

      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="remove-v6/emails/notice-of-removal">
          Email - notification of removal
        </a>
     </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="remove-v6/45-company-OE001485">
          Reference: Company overview page overseas entity page
        </a>
     </li>
</ul>



<hr class="govuk-!-margin-top-9 govuk-!-margin-bottom-9"></hr>

<h2 class="govuk-heading-l">All screens</h2>


<h2 class="govuk-heading-m" id="authScreens">Authentication code screens</h2>
      <ul class="govuk-list govuk-list--bullet">      
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="v9/auth/ASHCROFT-LIMITED-overview">Overseas entity register page</a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="v9/auth/request-an-authentication-code">Request an authentication code</a>
      </li>
       <li>
        <a class="govuk-link govuk-link--no-visited-state" href="v9/auth/authentication-code-requested">Authentication code requested - button</a>
      </li>
  </ul>

    
      <h2 class="govuk-heading-m" id="initial">Initial screens</h2>
      <ul class="govuk-list govuk-list--bullet">
<!--remove-->
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="remove-v6/00-remove-an-overseas-entity">Start</a>
        &nbsp;<strong class="govuk-tag govuk-tag--red">remove only</strong>
      </li>
<!-- -->
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="v9/01-sign-in-to-companies-house">Sign in</a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="v9/02-do-you-want-to-continue-with-a-saved-filing">Do you want to continue with a saved filing?</a> 
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="v9/03-your-filings">Your filings</a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="v9/04-do-any-beneficial-owners-or-managing-officers-have-their-personal-information-protected-at-companies-house">Protected information filter</a> 
      </li>
           <li>
        <a class="govuk-link govuk-link--no-visited-state" href="remove-v6/06a-entity-sold-all-land">
          Filter: Has the overseas entity disposed of all its property or land in the UK? 
        </a>&nbsp;<strong class="govuk-tag govuk-tag--red">remove only</strong>
     </li>
     <li>
        <a class="govuk-link govuk-link--no-visited-state" href="remove-v6/06b-is-the-overseas-entity-registered-as-the-owner">
          Filter: Is the overseas entity currently listed on any land registry records as the registered owner of property or land in the UK?
        </a>&nbsp;<strong class="govuk-tag govuk-tag--red">remove only</strong>
     </li>
          <li>
        <a class="govuk-link govuk-link--no-visited-state" href="remove-v6/06c-you-cannot-apply-to-remove-this-overseas-entity">
         Stop screen: You cannot apply to remove this overseas entity
        </a>&nbsp;<strong class="govuk-tag govuk-tag--red">remove only</strong>
     </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="remove-v6/08b-before-you-start">
          Before you start - interrupt card</a>&nbsp;<strong class="govuk-tag govuk-tag--red">remove only</strong>
      </li>



 <br>     
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="v9/09-what-is-the-overseas-entity-id">What is the Overseas Entity ID?</a> 
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="v9/10-confirm-this-is-the-correct-overseas-entity">Confirm this is the correct overseas entity</a>
      </li>

      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="v9/11-company-authentication">Enter the authentication code</a>
      </li>

            <li>
        <a class="govuk-link govuk-link--no-visited-state" href="remove-v6/13-who-can-we-contact-about-this-update-statement">Who can we contact about this application?</a> 
        &nbsp;<strong class="govuk-tag govuk-tag--red">new common component</strong>
      </li>
           <li>
      <a href="remove-v6/14-do-you-need-to-make-any-changes-to-this-overseas-entity">Do you need to make any changes to this overseas entity?</a></li>
      &nbsp;<strong class="govuk-tag govuk-tag--red">remove only</strong>

      </ul>



      <h2 class="govuk-heading-m" id="no-change">No change</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="remove-v6/18-review-the-information-in-this-update-statement">Review the information in this update statement</a>
        &nbsp;<strong class="govuk-tag govuk-tag--red">remove only</strong>
        </li>
      </ul>



      <h2 class="govuk-heading-m" id="verification">Verification details</h2>
      <ul class="govuk-list govuk-list--bullet">

      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="v9/19-who-is-completing-this-update">Who is completing the update?</a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="v9/20-complete-this-statement-to-confirm-that-verification-checks-have-been-completed">Verification details - agent</a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="v9/21-tell-us-about-the-uk-regulated-agent-that-carried-out-verification-checks">Verification details - overseas entity</a>
      </li>
      </ul>


      <h2 class="govuk-heading-m" id="oe">Overseas entity</h2>
      <ul class="govuk-list govuk-list--bullet">
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="v9/22-youre-about-to-review-overseas-entity-information">You're about to review overseas entity information</a> 
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="v9/23-review-overseas-entity-information">Overseas entity details</a>
      </li>
      </ul>





      <h2 class="govuk-heading-m" id="bomo">Beneficial owners and managing officers</h2>
      <ul class="govuk-list govuk-list--bullet">
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="v9/24-youre-about-to-review-beneficial-owner-and-managing-officer-information">You're about to review beneficial owner and/or managing officer information</a>
      </li>
<br>
      <li>
     <a class="govuk-link govuk-link--no-visited-state" href="v9/25-review-the-individual-beneficial-owner">Review Individual beneficial owner</a></a> 
      </li>
     <li>
     <a class="govuk-link govuk-link--no-visited-state" href="v9/26-review-the-other-legal-entity-beneficial-owner">Review Other legal entity beneficial owner</a></a> 
      </li>
      <li>
     <a class="govuk-link govuk-link--no-visited-state" href="v9/27-review-the-government-or-public-authority">Review Government or public authority beneficial owner</a></a> 
      </li>
      <li>
     <a class="govuk-link govuk-link--no-visited-state" href="v9/28-review-the-individual-managing-officer">Review Individual managing officer</a> 
      </li>
      <li>
     <a class="govuk-link govuk-link--no-visited-state" href="v9/29-review-the-corporate-managing-officer">Review Corporate managing officer</a> 
      </li>
<br>
      <li>
     <a class="govuk-link govuk-link--no-visited-state" href="v9/30-beneficial-owners-and-managing-officers-involved-in-the-overseas-entity">Beneficial owners and managing officers involved in the overseas entity</a> 
      </li>
<br>
       <li>
     <a class="govuk-link govuk-link--no-visited-state" href="v9/31-tell-us-about-the-individual-person">New Individual beneficial owner</a></a> 
      </li>
       <li>
     <a class="govuk-link govuk-link--no-visited-state" href="v9/32-tell-us-about-the-other-legal-entity">New Other legal entity beneficial owner</a>
      </li>
     <li>
     <a class="govuk-link govuk-link--no-visited-state" href="v9/33-tell-us-about-the-government-or-public-authority">New Government or public authority beneficial owner</a>
      </li>
      <li>
     <a class="govuk-link govuk-link--no-visited-state" href="v9/34-tell-us-about-the-individual-person">New Individual managing officer</a> 
      </li>
      <li>
     <a class="govuk-link govuk-link--no-visited-state" href="v9/35-tell-us-about-the-corporate-managing-officer">New Corporate managing officer</a> 
      </li>
        </ul>





      <h2 class="govuk-heading-m" id="manage-trusts">Manage trusts</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
        <a class="govuk-link govuk-link--no-visited-state" href="v9/45-review-trust-information">You now need to review trust information</a>
        </li>
        <li>
        <a class="govuk-link govuk-link--no-visited-state" href="v9/45-review-trust">Review the trust</a>
        </li>
        <br>
        <li>
        <a class="govuk-link govuk-link--no-visited-state" href="v9/47-former-beneficial-owners">Review former beneficial owners</a>
        </li>
        <li>
        <a class="govuk-link govuk-link--no-visited-state" href="v9/48-individuals">Review individuals</a>
        </li>
        <li>
        <a class="govuk-link govuk-link--no-visited-state" href="v9/49-legal-entities">Review legal entities</a>
        </li>
          <li>
       <a class="govuk-link govuk-link--no-visited-state" href="v9/44-trusts-associated-with-the-overseas-entity">Do you need to add another trust?</a>
      </li>
    </ul>
      <br>



  <h2 class="govuk-heading-m" id="trusts">Add trusts</h2>
       {# <p class="govuk-body"> See the trust flow in the prototype mural</p> #}

    <ul class="govuk-list govuk-list--bullet">
      <li>
       <a class="govuk-link govuk-link--no-visited-state" href="v9/38-you-now-need-to-submit-trust-information">You now need to submit trust information</a>
      </li>
      <li>
       <a class="govuk-link govuk-link--no-visited-state" href="v9/39-tell-us-about-the-trust">Tell us about the trust</a>
      </li>
      <br>
      <li>
       <a class="govuk-link govuk-link--no-visited-state" href="v9/40-individuals-or-entities-involved-in-the-trust">Individuals or entities involved in the trust</a>
      </li>
       <li>
       <a class="govuk-link govuk-link--no-visited-state" href="v9/41-tell-us-about-the-former-beneficial-owner">Tell us about the former beneficial owner</a>
      </li>
      <li>
       <a class="govuk-link govuk-link--no-visited-state" href="v9/42-tell-us-about-the-individual">Tell us about the individual</a>
      </li>
      <li>
       <a class="govuk-link govuk-link--no-visited-state" href="v9/43-tell-us-about-the-legal-entity">Tell us about the legal entity</a>
      </li>
<br>


</ul>
<br>

   <h2 class="govuk-heading-m" id="statements">Review trust screens to be added - when would this go in MVP?</h2>

           <h2 class="govuk-heading-m" id="statements">Statements</h2>
      <ul class="govuk-list govuk-list--bullet">

        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="remove-v6/15-has-the-overseas-entity-identified-any-registrable-beneficial-owners">
          Has the overseas entity identified any registrable beneficial owners?</a> &nbsp;<strong class="govuk-tag govuk-tag--red">new common component</strong>
          </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="remove-v6/16-has-anyone-become-or-ceased-to-be-a-registrable-beneficial-owner-during-the-update-period">
          Has anyone become or ceased to be a registrable beneficial owner during the update period?</a> &nbsp;<strong class="govuk-tag govuk-tag--red">new common component</strong>
          </li>

      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="v9/17-the-statements-you've-chosen-do-not-match-the-information-provided-in-this-update">
        The statements you've chosen do not match the information provided in this update</a>
      </li>
               <li>
        <a class="govuk-link govuk-link--no-visited-state" href="remove-v6/16c-removal-from-the-register-statement">
          Confirm the removal statement</a> 
          &nbsp;<strong class="govuk-tag govuk-tag--red">remove only</strong></li>         
      </ul>
<br>

      <h2 class="govuk-heading-m" id="submitPay">Submit and pay</h2>
      <ul class="govuk-list govuk-list--bullet">
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="remove-v6/36-check-your-answers-before-submitting">Check your answers</a>
        &nbsp;<strong class="govuk-tag govuk-tag--red">remove only</strong>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="remove-v6/37-update-statement-submitted">Confirmation (agents)</a>
         &nbsp;<strong class="govuk-tag govuk-tag--red">remove only</strong>
      </li>
            <li>
        <a class="govuk-link govuk-link--no-visited-state" href="remove-v6/38-entity-statement-submitted">Confirmation (if VF01 is needed)</a>
         &nbsp;<strong class="govuk-tag govuk-tag--red">remove only</strong>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="https://card.payments.service.gov.uk/card_details/cqtajg6gv0thgs6vhkd1dn3tk9">Enter card details</a>
      </li>
      </ul>


      <h2 class="govuk-heading-m" id="emails">Emails</h2>
      <ul class="govuk-list govuk-list--bullet">
     {#  <li>
        <a class="govuk-link govuk-link--no-visited-state" href="v9/emails/email-auth-code">Authentication code email</a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="v9/emails/received-oe">Application received OE</a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="v9/emails/received">Application received</a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="v9/emails/accepted">Application accepted email</a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="v9/emails/rejected">Application rejected</a>
      </li> #}
            <li>
        <a class="govuk-link govuk-link--no-visited-state" href="remove-v6/emails/notice-of-removal">Notice of removal</a>
         &nbsp;<strong class="govuk-tag govuk-tag--red">remove only - not in scope?</strong>
      </li>
    </ul>



      <h2 class="govuk-heading-m" id="other">Other screens</h2>
      <ul class="govuk-list govuk-list--bullet">
        {# <li>
          <a class="govuk-link govuk-link--no-visited-state" href="remove">Are you sure you want to remove NAME?</a>
        </li> #}
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="v9/remove-warning">Are you sure you want to remove this information? - generic warning</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="v9/sign-out">Are you sure you want to sign out?</a>
        </li>
        {# <li>
          <a class="govuk-link govuk-link--no-visited-state" href="signed-out">Signed out</a> &nbsp;<strong class="govuk-tag govuk-tag--red">Out of scope</strong>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="signed-out-from-confirmation">Signed out (from 'Confirmation' screen)</a> &nbsp;<strong class="govuk-tag govuk-tag--red">Out of scope</strong>
        </li> #}
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="v9/service-unavailable">Service unavailable</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="v9/service-timeout">Service timeout</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="v9/page-not-found">Page not found</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="v9/warning">Generic warning page</a>
        </li> 
      </ul>


    




 

  </div>
</div>

{% endblock %}
